---
interface Props {
  class?: string
  color: string
}

const { class: extraClasses = '', color } = Astro.props
---

<div
  class={`brick h-0 w-[10%] rounded p-1 pb-[calc(5%-2px)] opacity-75 ${extraClasses} ${color}`}
>
</div>
