---
import { Picture } from '@astrojs/image/components'

import ProjectDescription from '~/components/project/ProjectDescription.astro'
import ProjectTitle from '~/components/project/ProjectTitle.astro'

const first = await import('~/assets/projects/formi-first.webp')
const second = await import('~/assets/projects/formi-second.webp')
---

<div
  class="formi card card-hover group relative flex h-full w-full flex-col justify-between gap-4 overflow-hidden p-6"
>
  <div class="prose dark:prose-invert">
    <ProjectTitle>Formi</ProjectTitle>
    <ProjectDescription>
      First-order-logic model checking with interactive graph visualization,
      real-time validation, and textual input.
    </ProjectDescription>
  </div>
  <div class="relative h-36 w-36 self-center">
    <Picture
      src={first.default.src}
      alt="Formi Logo"
      quality={85}
      widths={[192]}
      aspectRatio={1}
      sizes="192px"
      loading="lazy"
      formats={['avif', 'webp']}
      class="absolute inset-0 -mt-4 -ml-4 translate-x-[1000%] transition-transform duration-500"
    />
    <Picture
      src={second.default.src}
      alt="Formi Logo"
      quality={85}
      widths={[192]}
      aspectRatio={1}
      sizes="192px"
      loading="lazy"
      formats={['avif', 'webp']}
      class="absolute inset-0 mt-4 ml-4 translate-x-[1000%] transition-transform duration-700"
    />
  </div>
</div>

<script>
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (!entry.isIntersecting) {
          return
        }
        const images = [...entry.target.getElementsByTagName('img')]
        images.forEach((image) => image.classList.remove('translate-x-[1000%]'))
        observer.unobserve(entry.target)
      })
    },
    { threshold: 0.9 }
  )

  const formiContainers = [...document.getElementsByClassName('formi')]
  formiContainers.forEach((logo) => observer.observe(logo))
</script>
