---
import ProjectDescription from '~/components/project/ProjectDescription.astro'
import ProjectTitle from '~/components/project/ProjectTitle.astro'
---

<div class="card card-hover group relative h-full w-full overflow-hidden p-6">
  <div
    class="absolute -right-32 -top-32 h-12 w-12 rounded-full bg-red-500 transition-transform duration-500 group-hover:scale-[5000%]"
  >
  </div>
  <div class="prose dark:prose-invert relative">
    <ProjectTitle>Noted</ProjectTitle>
    <ProjectDescription>Markdown note-taking</ProjectDescription>
  </div>
</div>
