---
import OpenInNew from '~/components/icons/OpenInNew.astro'
import CYKVisualizer from '~/components/project/CYKVisualizer.astro'
import Formi from '~/components/project/Formi.astro'
import Masonry from '~/components/project/Masonry.astro'
import Noted from '~/components/project/Noted.astro'
import Photo from '~/components/project/Photo.astro'
import Refunk from '~/components/project/Refunk.astro'
import WienerTime from '~/components/project/WienerTime.astro'
---

<section
  class="px-4 bg-zinc-200 dark:bg-zinc-800 border-zinc-300 dark:border-zinc-700 border-y max-w-none pb-8 pt-0 my-32"
>
  <div class="container mx-auto">
    <div class="prose dark:prose-invert prose-2xl my-12 mx-auto">
      <h2 class="text-center flex flex-col w-fit mx-auto">
        <span class="font-extralight text-3xl self-start">Featured</span>
        <span class="font-extrabold">Projects</span>
      </h2>
      <p class="text-center block text-base">
        <a
          href="https://github.com/DerYeger?tab=repositories&q=&type=&language=&sort=stargazers"
          rel="noreferrer"
          target="_blank"
          class="text-light"
        >
          All Projects
          <OpenInNew />
        </a>
      </p>
    </div>
    <div
      class="max-w-3xl 2xl:max-w-none mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 2xl:grid-cols-5 grid-flow-row gap-4"
    >
      <div class="row-span-2 sm:col-span-2 md:col-span-1">
        <Formi />
      </div>
      <div class="sm:col-span-2 h-48">
        <WienerTime />
      </div>
      <div class="md:col-span-2 h-48">
        <Masonry />
      </div>
      <div class="md:col-span-2">
        <Noted />
      </div>
      <div>
        <Photo />
      </div>
      <div>
        <Refunk />
      </div>
      <div>
        <CYKVisualizer />
      </div>
    </div>
  </div>
</section>
