---
import OpenInNew from '~/components/icons/OpenInNew.astro'
import CYKVisualizer from '~/components/project/CYKVisualizer.astro'
import Formi from '~/components/project/Formi.astro'
import Masonry from '~/components/project/Masonry.astro'
import Noted from '~/components/project/Noted.astro'
import Photo from '~/components/project/Photo.astro'
import Refunk from '~/components/project/Refunk.astro'
import WienerTime from '~/components/project/WienerTime.astro'
---

<section
  class="my-32 max-w-none border-y border-zinc-300 bg-zinc-200 px-4 pb-8 pt-0 dark:border-zinc-700 dark:bg-zinc-800"
>
  <div class="container mx-auto">
    <div class="prose dark:prose-invert prose-2xl my-12 mx-auto">
      <h2 class="mx-auto flex w-fit flex-col text-center">
        <span class="self-start text-3xl font-extralight">Featured</span>
        <span class="font-extrabold">Projects</span>
      </h2>
      <p class="block text-center text-base">
        <a
          href="https://github.com/DerYeger?tab=repositories&q=&type=&language=&sort=stargazers"
          rel="noreferrer"
          target="_blank"
          class="text-light"
        >
          All Projects
          <OpenInNew />
        </a>
      </p>
    </div>
    <div
      class="mx-auto grid max-w-3xl grid-flow-row grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 2xl:max-w-none 2xl:grid-cols-5"
    >
      <div class="row-span-2 sm:col-span-2 md:col-span-1">
        <Formi />
      </div>
      <div class="h-48 sm:col-span-2">
        <WienerTime />
      </div>
      <div class="h-48 md:col-span-2">
        <Masonry />
      </div>
      <div class="md:col-span-2">
        <Noted />
      </div>
      <div>
        <Photo />
      </div>
      <div>
        <Refunk />
      </div>
      <div>
        <CYKVisualizer />
      </div>
    </div>
  </div>
</section>
