---
import type { Project as ProjectType } from '../../types'

import Project from './Project.astro'

const projects: ProjectType[] = [
  {
    repo: 'apollo',
    img: '/assets/projects/apollo.png',
    title: 'Apollo',
    details: 'First-order graph model-checking',
  },
  {
    repo: 'vue-masonry-wall',
    img: '/assets/projects/masonry-wall.png',
    title: 'vue-masonry-wall',
    details: 'Vue layout component',
  },
  {
    repo: 'wiener-time',
    img: '/assets/projects/wiener-time.png',
    title: 'WienerTime',
    details: 'Real-time traffic monitoring',
  },
]
---

<section
  class="screen-wide surface border-y prose-xl p-4 pt-0 mb-6 !bg-zinc-200 dark:!bg-zinc-700"
>
  <div class="container mx-auto max-w-5xl">
    <h2 class="text-center my-8">Projects</h2>
    <div class="flex flex-wrap justify-center -mb-12">
      {
        projects.map((project) => (
          <div class="p-2 w-full md:w-1/2 lg:w-1/3 max-w-md">
            <Project project={project} />
          </div>
        ))
      }
    </div>
  </div>
</section>
