---
import ProjectDescription from '~/components/project/ProjectDescription.astro'
import ProjectTitle from '~/components/project/ProjectTitle.astro'

const { default: innerHTML } = await import(`~/assets/projects/Refunk.svg?raw`)
---

<div
  class="refunk card card-hover group relative z-10 h-full w-full overflow-hidden p-6"
>
  <div
    class="refunk-logo absolute inset-0 scale-[2000%] transition-all duration-700 dark:!opacity-100 dark:brightness-50"
  >
    <Fragment set:html={innerHTML} />
  </div>
  <div class="prose dark:prose-invert relative">
    <ProjectTitle>Refunk</ProjectTitle>
    <ProjectDescription>
      A Kotlin library for studying primitive recursive functions using a
      mathematical DSL.
    </ProjectDescription>
  </div>
</div>

<script>
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (!entry.isIntersecting) {
          return
        }
        const element = entry.target.getElementsByClassName('refunk-logo')[0]!
        element.classList.toggle('scale-[2000%]')
        element.classList.toggle('scale-75')
        element.classList.toggle('opacity-25')
        observer.unobserve(entry.target)
      })
    },
    { threshold: 0.9 }
  )

  const logos = [...document.getElementsByClassName('refunk')]
  logos.forEach((logo) => observer.observe(logo))
</script>
