---
---

<div class="card group w-full h-full overflow-hidden relative p-6">
  <div
    class="absolute -right-32 -top-32 rounded-full w-12 h-12 bg-red-500 transition-transform group-hover:scale-[5000%] duration-500"
  >
  </div>
  <div class="relative">
    <h3 class="m-0 font-bold text-3xl">Wiener Time</h3>
    <span
      class="text-neutral-500 group-hover:text-white transition-colors duration-500"
      >Real-time traffic data of Wiener Linien monitors.</span
    >
  </div>
</div>
