---
---

<div class="card group relative h-full w-full overflow-hidden p-6">
  <div
    class="absolute -right-32 -top-32 h-12 w-12 rounded-full bg-red-500 transition-transform duration-500 group-hover:scale-[5000%]"
  >
  </div>
  <div class="relative">
    <h3 class="m-0 text-3xl font-bold">Wiener Time</h3>
    <span
      class="text-neutral-500 transition-colors duration-500 group-hover:text-white"
      >Real-time traffic data of Wiener Linien monitors.</span
    >
  </div>
</div>
