---
import ProjectDescription from '~/components/project/ProjectDescription.astro'
import ProjectTitle from '~/components/project/ProjectTitle.astro'

const { default: innerHTML } = await import(
  `~/assets/projects/WienerLinien.svg?raw`
)
---

<a class="no-underline" href="https://wiener-time.vercel.app">
  <div
    class="card card-hover w-full h-full p-6 flex flex-col md:flex-row gap-2"
  >
    <div class="prose dark:prose-invert">
      <ProjectTitle>WienerTime</ProjectTitle>
      <ProjectDescription>
        Real-time traffic data of Wiener Linien public transportation monitors.
      </ProjectDescription>
    </div>
    <div class="h-32 md:h-auto md:w-64 -my-6 opacity-75 dark:!opacity-100">
      <Fragment set:html={innerHTML} />
    </div>
  </div>
</a>

<script src="~/components/project/WienerTime"></script>
