{
  "extends": ["@yeger", "plugin:astro/recommended"],
  "rules": {
    "react/prop-types": "off"
  },
  "overrides": [
    {
      // Define the configuration for `.astro` file.
      "files": ["*.astro"],
      // Allows Astro components to be parsed.
      "parser": "astro-eslint-parser",
      // Parse the script in `.astro` as TypeScript by adding the following configuration.
      // It's the setting you need when using TypeScript.
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"]
      },
      "rules": {
        // override/add rules settings here, such as:
        "import/default": "off",
        "import/namespace": "off",
        "import/no-named-as-default": "off",
        "import/no-named-as-default-member": "off",
        "no-undef": "off",
        "react/jsx-key": "off",
        "react/no-unescaped-entities": "off",
        "react/no-unknown-property": "off"
      }
    }
  ]
}
