---
import CVList from '~/components/cv/CVList.astro'
import EducationEntry from '~/components/cv/education/EducationEntry.astro'
import type { Education } from '~/types'

const education: Education[] = [
  {
    name: 'M.Sc. – Software Engineering and Internet Computing',
    institution: 'TU Wien',
    startDate: '2021-10',
    endDate: '2025-02',
    grade: '1.1 with distinction',
    href: 'https://www.tuwien.at/en/',
  },
  {
    name: 'B.Sc. – Computer Science',
    institution: 'University of Kassel',
    startDate: '2016-10',
    endDate: '2021-03',
    grade: '1.0 with distinction',
    href: 'https://www.uni-kassel.de/uni/en/index.html',
  },
  {
    name: 'GCE A-Levels / Abitur',
    institution: 'Wilhelmsgymnasium Kassel',
    startDate: '2009-09',
    endDate: '2016-07',
    grade: '1.7',
    href: 'https://www.wgkassel.de',
  },
].sort((a, b) => b.startDate.localeCompare(a.startDate))
---

<CVList id="education">
  <span slot="title">Education</span>
  <ul class="flex flex-col md:flex-row gap-16">
    {
      education.map((entry) => (
        <li class="flex-1">
          <EducationEntry education={entry} />
        </li>
      ))
    }
  </ul>
</CVList>
