---
import type { Education } from '../../../types'
import CVList from '../CVList.astro'

import EducationEntry from './EducationEntry.astro'

const education: Education[] = [
  {
    name: 'Software Engineering and Internet Computing (M.Sc.)',
    institution: 'TU Wien',
    startDate: '2021-10',
  },
  {
    name: 'Computer Science (B.Sc.)',
    institution: 'University of Kassel',
    startDate: '2016-10',
    endDate: '2021-03',
  },
  {
    name: 'University-entrance diploma (Abitur)',
    institution: 'Wilhelmsgymnasium Kassel',
    startDate: '2009-09',
    endDate: '2016-07',
  },
].sort((a, b) => b.startDate.localeCompare(a.startDate))
---

<CVList>
  <span slot="title">Education</span>
  {
    education.map((entry) => (
      <li>
        <EducationEntry education={entry} />
      </li>
    ))
  }
</CVList>
