---
import CVList from '~/components/cv/CVList.astro'
import EducationEntry from '~/components/cv/education/EducationEntry.astro'
import type { Education } from '~/types'

const education: Education[] = [
  {
    name: 'Software Engineering and Internet Computing (M.Sc.)',
    institution: 'TU Wien',
    startDate: '2021-10',
    endDate: '2025-02',
    grade: '1.1 with distinction',
  },
  {
    name: 'Computer Science (B.Sc.)',
    institution: 'University of Kassel',
    startDate: '2016-10',
    endDate: '2021-03',
    grade: '1.0 with distinction',
  },
  {
    name: 'University-entrance diploma (Abitur)',
    institution: 'Wilhelmsgymnasium Kassel',
    startDate: '2009-09',
    endDate: '2016-07',
    grade: '1.7',
  },
].sort((a, b) => b.startDate.localeCompare(a.startDate))
---

<CVList>
  <span slot="title" id="education">Education</span>
  {
    education.map((entry) => (
      <li>
        <EducationEntry education={entry} />
      </li>
    ))
  }
</CVList>
