---
import DateRange from '~/components/date/DateRange.astro'
import type { Education } from '~/types'

export interface Props {
  education: Education
}

const { education } = Astro.props as Props
---

<div class="lh-6 flex flex-col">
  <span class="text-black dark:text-white">{education.name}</span>
  <span>
    {education.institution}
  </span>
  <div class="text-lighter">
    <DateRange startDate={education.startDate} endDate={education.endDate} />
  </div>
</div>
