---
import DateComponent from './DateComponent.astro'

export interface Props {
  startDate: string
  endDate: string | undefined
  format?: string | undefined
}

const { startDate, endDate, format } = Astro.props as Props
---

<span>
  <DateComponent date={startDate} format={format} />
  {'–'}
  {
    endDate ? (
      <DateComponent date={endDate} format={format} />
    ) : (
      <span>Today</span>
    )
  }
</span>
