---
import DateComponent from '~/components/date/DateComponent.astro'
import { formatDate } from '~/lib'

export interface Props {
  startDate: string
  endDate: string | undefined
  format?: string | undefined
}

const { startDate, endDate, format } = Astro.props as Props

const isIdentical = !!endDate && formatDate(startDate, format) === formatDate(endDate, format)
---

<span>
  <DateComponent date={startDate} format={format} />
  {isIdentical ? null : ' – '}
  {!endDate ? 'Today' : null}
  {
    endDate && !isIdentical ? (
      <DateComponent date={endDate} format={format} />
    ) : null
  }
</span>
