---
import Gallery from '@components/Gallery.vue'
import MainLayout from '@layouts/MainLayout.astro'
import { photographyLinks } from '@utils/links'
import { getGalleryImages } from '@utils/photographyUtils'

const images = await getGalleryImages(import.meta.glob('/src/assets/photos/*'))
---

<MainLayout title="Photography" sublinks={photographyLinks}>
  <h1 class="sr-only">Gallery of Jan's Photos</h1>
  <Gallery client:load images={images} />
</MainLayout>
