@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  a {
    @apply text-black dark:text-white hover:text-neutral-600 hover:dark:text-neutral-300 transition-colors underline;
  }

  .surface-border {
    @apply border-neutral-300 dark:border-neutral-800 transition-colors;
  }

  .surface {
    @apply surface-border !bg-white dark:!bg-black text-black dark:text-white transition-colors;
  }

  .card {
    @apply surface border rounded shadow-md;
  }

  .card-hover {
    @apply hover:shadow-xl transition-shadow;
  }

  .text-light {
    @apply text-neutral-700 dark:text-neutral-300;
  }

  .text-lighter {
    @apply text-neutral-600 dark:text-neutral-400;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black dark:text-white;
  }

  img.square::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  .prose .astro-code {
    @apply shadow-md transition-all text-xs leading-5;
  }

  .prose div.language-id {
    display: none;
  }

  article.prose *:is(h1, h2, h3, h4, h5, h6) {
    @apply flex items-center gap-2 scroll-mt-20;
  }

  article.prose .anchor-icon {
    @apply text-lighter hover:text-light transition-colors;
  }

  mark {
    @apply bg-transparent italic font-semibold text-black dark:text-white;
  }

  .avatar {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 50, 0.35));
  }

  .gradient-text {
    @apply text-transparent bg-clip-text bg-gradient-to-r;
  }
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.astro-code {
  counter-reset: step;
  counter-increment: step 0;
}

.astro-code::-webkit-scrollbar {
  border-radius: 0.375rem;
}

.astro-code::-webkit-scrollbar-thumb {
  border: 0.25rem solid transparent;
  border-radius: 0.5rem;
  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0.2);
}

.astro-code::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.astro-code .line::before {
  border-right: rgba(255, 255, 255, 0.1) solid 1px;
  color: rgba(255, 255, 255, 0.3);
  content: counter(step);
  counter-increment: step;
  display: inline-block;
  font-size: 1em;
  margin-right: 1em;
  padding-right: 1em;
  text-align: right;
  transition: all 0.25s ease;
  transform: translateX(0%);
  width: 2em;
}

#marmosetUI > img {
  height: 100%;
  object-fit: cover;
  position: static !important;
  transform: none !important;
  width: 100%;
}

.prose blockquote > p::before,
.prose blockquote > p::after {
  content: none !important;
}

@supports (backdrop-filter: none) {
  .glass {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px) saturate(180%);
  }

  html.dark .glass {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@suports not (backdrop-filter: none) {
  .glass {
    background-color: white;
  }

  html.dark .glass {
    background-color: black;
  }
}
