@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  a {
    @apply hover:text-neutral-600 transition-colors underline;
  }

  .surface-border {
    @apply border-neutral-300;
  }

  .surface {
    @apply surface-border bg-white text-black;
  }

  .card {
    @apply surface rounded-3xl shadow-xl;
  }

  .card-hover {
    @apply hover:shadow-2xl transition-shadow;
  }

  .prose .astro-code {
    @apply shadow-md transition-all text-xs leading-5;
  }

  article.prose *:is(h1, h2, h3, h4, h5, h6) {
    @apply flex items-center gap-2 scroll-mt-20;
  }

  article.prose .anchor-icon {
    @apply text-lighter hover:text-light transition-colors;
  }

  .gradient-text {
    @apply text-transparent bg-clip-text bg-gradient-to-r;
  }
}

.prose div.language-id {
  display: none;
}

.drop-shadow-sharp {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 50, 0.35));
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.raised {
  box-shadow: 4px 4px 8px #969696, -4px -4px 8px #ffffff;
}

/* Fix for animating elements in Safari  */
.overflow-hidden {
  -webkit-transform: translate3d(0, 0, 0);
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.astro-code {
  counter-reset: step;
  counter-increment: step 0;
}

.astro-code::-webkit-scrollbar {
  border-radius: 0.375rem;
}

.astro-code::-webkit-scrollbar-thumb {
  border: 0.25rem solid transparent;
  border-radius: 0.5rem;
  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0.2);
}

.astro-code::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.astro-code .line::before {
  border-right: rgba(255, 255, 255, 0.1) solid 1px;
  color: rgba(255, 255, 255, 0.3);
  content: counter(step);
  counter-increment: step;
  display: inline-block;
  font-size: 1em;
  margin-right: 1em;
  padding-right: 1em;
  text-align: right;
  transition: all 0.25s ease;
  transform: translateX(0%);
  width: 2em;
}

#marmosetUI > img {
  height: 100%;
  object-fit: cover;
  position: static !important;
  transform: none !important;
  width: 100%;
}

.prose blockquote > p::before,
.prose blockquote > p::after {
  content: none !important;
}

@supports (backdrop-filter: none) {
  .glass {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px) saturate(180%);
  }
}

@suports not (backdrop-filter: none) {
  .glass {
    background-color: white;
  }
}
