@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@custom-variant hocus (&:where(:hover, :focus-visible));

@theme {
  /* IMPORTANT: Keep in sync with matchMedia in NavigationIndicator */
  --breakpoint-xxs: 350px;
}

@utility border-medium {
  @apply border-neutral-300 dark:border-neutral-700;
}

@utility text-medium {
  @apply text-neutral-800 dark:text-neutral-200;
}

@utility text-light {
  @apply text-neutral-600 dark:text-neutral-300;
}

@utility text-lighter {
  @apply text-neutral-500 dark:text-neutral-400;
}

@utility text-strong {
  @apply text-black dark:text-white;
}

@utility gradient-text {
  @apply text-transparent bg-clip-text bg-linear-to-r;
}

@utility bg-body {
  @apply bg-neutral-50 dark:bg-neutral-950;
}

@utility bg-base {
  @apply bg-white dark:bg-neutral-900;
}

@utility bg-disabled {
  @apply bg-neutral-200 dark:bg-neutral-800;
}

@utility bg-glass {
  @apply backdrop-blur-xl saturate-180 bg-white/70 dark:bg-neutral-900/60;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility focus-ring {
  @apply outline-none ring-2 ring-offset-1 ring-offset-transparent ring-blue-600 dark:ring-blue-500;
}

@utility anchor-heading-size {
  --size: max(1rem,0.5em);
}

@utility anchor-heading-margin {
  @apply anchor-heading-size;
  margin-right: calc(-1 * (var(--size) + 0.25em));
}


@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  a {
    @apply transition-colors underline rounded-sm;

    &:focus-visible {
      @apply focus-ring;
    }

    &:not([class*="anchor-blue"]):not([class*="anchor-custom"]):not([class*="anchor-heading"]) {
      @apply hocus:text-light;
    }
  }

  img {
    @apply select-none pointer-events-none;
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  h1, h2, h3, h4, h5, h6 {
    @apply scroll-mt-24;
  }
  article.prose *:is(h1, h2, h3, h4, h5, h6) {
    @apply flex items-center size-fit;
  }

  .anchor-heading {
    @apply anchor-heading-size ml-[0.25em] size-(--size) my-auto translate-z-0 inline-flex items-center rounded-full;
  }

  article .anchor-heading {
    @apply text-lighter! hocus:text-strong!
  }

  article.prose * {
    @apply select-text;
  }

  article.prose p {
    @apply text-justify;
  }

  .title {
    @apply font-black text-strong;
  }

  .anchor-blue {
    @apply text-blue-600 dark:text-blue-500 hocus:text-blue-500 dark:hocus:text-blue-400 active:text-blue-700 dark:active:text-blue-300 ring-black dark:ring-white;
  }

  .anchor-text {
    @apply font-bold no-underline;
  }

  .card {
    @apply border-medium bg-base dark:bg-linear-to-br dark:from-neutral-900 dark:to-neutral-950 text-black dark:text-neutral-100 rounded-xl shadow-xl;
  }

  .showcase mark {
    @apply bg-transparent font-bold text-black dark:text-white
  }

  .leaflet-marker-icon {
    @apply focus-visible:focus-ring;
  }

  .leaflet-control-zoom  {
    @apply bg-glass!;

    & > * {
      @apply bg-transparent! text-light! hocus:text-strong! border-b-0!;
    }
  }
}

.drop-shadow-sharp {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 50, 0.35));
}

@media screen and not (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: smooth;
  }
}

.prose blockquote > p::before,
.prose blockquote > p::after {
  content: none !important;
}

@supports not (backdrop-filter: none) {
  .bg-glass {
    background-color: #FEFEFE;
  }

  .dark .bg-glass {
    background-color: #0E0E0E;
  }
}

html.dark {
  color-scheme: dark;
}
