@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  a {
    @apply text-blue-500 dark:text-amber-300 hover:text-blue-600 hover:dark:text-amber-200 transition-colors;
  }

  .surface {
    @apply border-neutral-100 dark:border-neutral-700 !bg-white dark:!bg-black text-black dark:text-white;
  }

  .text-light {
    @apply text-neutral-700 dark:text-neutral-300;
  }

  .text-lighter {
    @apply text-neutral-500 dark:text-neutral-500;
  }

  img.square::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  .markdown h1 {
    @apply text-4xl lg:text-6xl mt-16 mb-16;
  }

  .markdown h2 {
    @apply text-3xl lg:text-4xl mt-16 mb-8;
  }

  .markdown h3 {
    @apply text-2xl lg:text-3xl mt-12 mb-6;
  }

  .markdown blockquote {
    @apply text-xl text-lighter italic;
  }

  .markdown .shiki {
    @apply my-4 p-4 rounded surface border overflow-x-auto;
  }
}
