@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

#nprogress {
  pointer-events: none;
}

button {
  background: none;
  border: none;
  font-size: 1.25rem;
}

mark {
  background: none;
  color: inherit;
  font-style: italic;
  font-weight: bold;
}

:root {
  --c-link: #968050;
}

html.dark {
  --c-link: #FDD888;
}

a {
  color: var(--c-link);
}
