@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

#nprogress {
  pointer-events: none;
}

button {
  background: none;
  border: none;
  font-size: 1.25rem;
}

mark {
  background: none;
  color: inherit;
  font-style: italic;
  font-weight: bold;
}

:root {
  --c-link: #007AFE;
}

html.dark {
  --c-link: #FDD888;
}

a {
  color: var(--c-link);
  transition: opacity 200ms ease;
}

a:hover {
  opacity: 80%;
}

img.square::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
