@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #111;
}

#nprogress {
  pointer-events: none;
}

.card {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: box-shadow var(--anim-medium) ease;
}

button {
  background: none;
  border: none;
  font-size: 1.25rem;
}

mark {
  background: none;
  color: inherit;
  font-style: italic;
  font-weight: bold;
}

:root {
  --primary: #007afe;
  --c-link: var(--primary);
  --anim-slow: 500ms;
  --anim-medium: 200ms;
}

html.dark {
  --primary: #fdd888;
}

a {
  color: var(--c-link);
  transition: opacity 200ms ease;
}

a:hover {
  opacity: 80%;
}

img.square::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
