.photography-map .leaflet-marker-icon {
  background: #e74c3c;
  border: 4px solid #e74c3c;
  border-radius: 9999px;
}

.photography-map .leaflet-popup-content-wrapper {
  padding: 8px !important;
  border-radius: 12px !important;
}

.photography-map .leaflet-popup-content {
  margin: 0px !important;
  overflow: hidden;
}

.photography-map .leaflet-popup-content img {
  border-radius: 4px !important;
}
