---
import Awards from '~/components/cv/award/Awards.astro'
import Education from '~/components/cv/education/Education.astro'
import Experience from '~/components/cv/experience/Experience.astro'
---

<section class="my-32 px-4">
  <div
    class="children:flex-1 children:w-full mx-auto flex max-w-3xl flex-col items-start gap-16 md:flex-row md:gap-8 2xl:max-w-7xl"
  >
    <Experience />
    <Education />
    <Awards />
  </div>
</section>
