---
import Awards from './award/Awards.astro'
import Education from './education/Education.astro'
import Experience from './experience/Experience.astro'
---

<section
  class="mt-16 px-4 flex flex-col gap-16 items-start children:flex-1 children:w-full md:flex-row md:gap-12"
>
  <Experience />
  <Education />
  <Awards />
</section>
