---
import Awards from '~/components/cv/award/Awards.astro'
import Education from '~/components/cv/education/Education.astro'
import Experience from '~/components/cv/experience/Experience.astro'
---

<section class="prose prose-2xl my-32 mx-auto px-4">
  <div
    class="children:flex-1 children:w-full flex flex-col items-start gap-16 md:flex-row md:gap-8"
  >
    <Experience />
    <Education />
    <Awards />
  </div>
</section>
