---
import Awards from '~/components/cv/award/Awards.astro'
import Education from '~/components/cv/education/Education.astro'
import Experience from '~/components/cv/experience/Experience.astro'
---

<section class="my-32 px-4 mx-auto flex flex-col gap-16 md:gap-32 md:max-w-5xl 2xl:max-w-7xl">
    <Experience />
    <Education />
    <Awards />
</section>
