---
import Awards from './award/Awards.astro'
import Education from './education/Education.astro'
import Experience from './experience/Experience.astro'
---

<section class="my-32 px-4 prose dark:prose-invert prose-2xl mx-auto">
  <div
    class="flex flex-col gap-16 items-start children:flex-1 children:w-full md:flex-row md:gap-8"
  >
    <Experience />
    <Education />
    <Awards />
  </div>
</section>
