---
interface Props {
  id: string
}

const { id } = Astro.props
---

<div class="prose prose-xl flex flex-col">
  <h2 class="ml-8 scroll-mt-20" id={id}>
    <slot name="title" />
  </h2>
  <ul class="prose my-0 py-0">
    <slot />
  </ul>
</div>
