---
interface Props {
  id: string
}

const { id } = Astro.props
---

<div class="flex flex-col gap-20 select-text" data-testid={id}>
  <h2 class="title text-5xl scroll-mt-24 md:mx-auto" id={id}>
    <slot name="title" />
  </h2>
  <slot />
</div>
