---
import DateComponent from '~/components/date/DateComponent.astro'
import Dot from '~/components/Dot.astro'
import type { Award } from '~/types'

export interface Props {
  award: Award
}

const { award } = Astro.props as Props
---

<div class="lh-6 flex flex-col">
  <span class="text-black">{award.name}</span>
  <span>
    <span class="text-lighter">
      <DateComponent date={award.date} />
    </span>
    {
      award.href && (
        <>
          <span class="text-lighter">
            <Dot />
          </span>
          <a href={award.href} rel="noreferrer" target="_blank">
            Details
          </a>
        </>
      )
    }
  </span>
</div>
