---
import AwardEntry from '~/components/cv/award/AwardEntry.astro'
import CVList from '~/components/cv/CVList.astro'
import type { Award } from '~/types'

const awards: Award[] = [
  {
    name: 'Sponsorship award for outstanding academic achievement',
    date: '2021-11',
    href: 'https://www.vde-kassel.de/de/veranstaltungen/berichte-zu-vergangene-veranstaltungen/foerderpreise-fuer-herausragende-studienleistungen',
  },
  {
    name: 'Algorithms & data structures programming competition, 1st place',
    date: '2018-07',
  },
  {
    name: 'DPG-Abiturpreis',
    date: '2016-07',
    href: 'https://www.dpg-physik.de/auszeichnungen/dpg-preise/abiturpreis',
  },
].sort((a, b) => b.date.localeCompare(a.date))
---

<CVList id="awards">
  <span slot="title">Awards</span>
  {
    awards.map((entry) => (
      <li>
        <AwardEntry award={entry} />
      </li>
    ))
  }
</CVList>
