---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout>
  <div class="px-4 py-16 flex flex-col items-center">
    <h1 class="text-3xl text-light">Not found</h1>
  </div>
</MainLayout>
