---
import AntExperiment from '~/components/experiments/AntExperiment.astro'
import NeonBarExperiment from '~/components/experiments/NeonBarExperiment.astro'
import NeumorphismExperiment from '~/components/experiments/NeumorphismExperiment.astro'
import VectorNodesExperiment from '~/components/experiments/VectorNodesExperiment.astro'
import MainLayout from '~/layouts/MainLayout.astro'
---

<MainLayout title="Experiments">
  <div class="mx-auto max-w-3xl px-4 py-8 2xl:max-w-7xl">
    <div class="prose mb-8 max-w-none">
      <h1 class="mb-4">Jan's Experiments</h1>
      <span class="mt-0 text-2xl font-bold text-neutral-500">
        A space for ideas and doodles that don't fit the scope of a dedicated
        project.
      </span>
    </div>
    <div
      class="grid grid-flow-row grid-cols-2 gap-4 md:grid-cols-3 2xl:grid-cols-4"
    >
      <div class="row-span-2 max-md:col-span-2">
        <VectorNodesExperiment />
      </div>
      <div class="relative w-full pb-[100%]">
        <div class="absolute inset-0">
          <NeonBarExperiment />
        </div>
      </div>
      <div class="relative w-full pb-[100%] max-sm:col-span-2">
        <div class="absolute inset-0">
          <NeumorphismExperiment />
        </div>
      </div>
      <div class="col-span-2 h-64 max-h-full max-w-full">
        <AntExperiment />
      </div>
    </div>
  </div>
</MainLayout>
