---
import AboutMe from '../components/AboutMe.astro'
import Avatar from '../components/Avatar.astro'
import Badges from '../components/Badges.astro'
import CV from '../components/cv/CV.astro'
import Projects from '../components/project/Projects.astro'
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout>
  <content>
    <section
      class="prose dark:prose-invert prose-2xl mt-8 mb-32 md:-mb-32 mx-auto max-w-xl grid grid-cols-1 md:grid-cols-3 md:items-center"
    >
      <h1
        class="relative flex flex-col items-center children:block mb-0 md:items-end text-center md:text-end"
      >
        <span class="mb-4 font-black">Jan Müller</span>
        <span
          class="w-fit text-4xl text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-teal-500 dark:from-blue-400 dark:to-teal-400 font-medium"
        >
          Software Engineer
        </span>
      </h1>
      <Avatar />
    </section>
    <Badges />
    <CV />
    <Projects />
    <AboutMe />
  </content>
</MainLayout>
