---
import AboutMe from '../components/AboutMe.astro'
import CV from '../components/cv/CV.astro'
import Projects from '../components/project/Projects.astro'
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout>
  <content>
    <section class="prose dark:prose-invert prose-2xl mt-8 mb-32">
      <h1 class="relative text-center children:block">
        <span class="mb-4">Jan Müller</span>
        <span class="text-3xl text-light"> Software Engineer</span>
      </h1>
    </section>
    <Projects />
    <CV />
    <AboutMe />
  </content>
</MainLayout>
