---
import Avatar from '~/components/Avatar.astro'
import Badges from '~/components/Badges.astro'
import CV from '~/components/cv/CV.astro'
import Marquee from '~/components/Marquee.astro'
import ShowcaseSection from '~/components/showcase/ShowcaseSection.astro'
import MainLayout from '~/layouts/MainLayout.astro'
---

<MainLayout>
  <div class="py-8">
    <section
      class="prose prose-2xl mx-auto mb-32 mt-8 grid max-w-xl grid-cols-1 px-4 md:-mb-32 md:grid-cols-3 md:items-center"
    >
      <h1
        class="children:block relative mb-0 flex flex-col items-center text-center md:items-end md:text-end"
      >
        <span class="mb-4 font-black">Jan Müller</span>
        <span class="-mb-2 inline-block w-fit pb-2 text-4xl font-medium">
          <Marquee />
          <span class="text-neutral-600">Engineer</span>
        </span>
      </h1>
      <div
        class="mx-auto -mb-32 mt-0 h-[calc(min(400px,100vw)*1.1391)] w-[min(400px,100vw)] select-none md:col-span-2 md:mb-0 md:h-0 md:w-full md:pb-[113.91%]"
      >
        <Avatar />
      </div>
    </section>
    <Badges />
    <ShowcaseSection />
    <CV />
  </div>
</MainLayout>
