---
import AboutMe from '~/components/AboutMe.astro'
import Avatar from '~/components/Avatar.astro'
import Badges from '~/components/Badges.astro'
import CV from '~/components/cv/CV.astro'
import Marquee from '~/components/Marquee.astro'
import Projects from '~/components/project/Projects.astro'
import MainLayout from '~/layouts/MainLayout.astro'
---

<MainLayout>
  <div class="py-8">
    <section
      class="prose dark:prose-invert prose-2xl px-4 mt-8 mb-32 md:-mb-32 mx-auto max-w-xl grid grid-cols-1 md:grid-cols-3 md:items-center"
    >
      <h1
        class="relative flex flex-col items-center children:block mb-0 md:items-end text-center md:text-end"
      >
        <span class="mb-4 font-black">Jan Müller</span>
        <span class="w-fit text-4xl font-medium pb-2 -mb-2 inline-block">
          <Marquee />
          <span class="text-neutral-600 dark:text-neutral-400"> Engineer</span>
        </span>
      </h1>
      <Avatar />
    </section>
    <Badges />
    <AboutMe />
    <Projects />
    <CV />
  </div>
</MainLayout>
