---
import Avatar from '@components/Avatar.astro'
import Badges from '@components/Badges.astro'
import CV from '@components/cv/CV.astro'
import Marquee from '@components/Marquee.astro'
import ShowcaseSection from '@components/showcase/ShowcaseSection.astro'
import MainLayout from '@layouts/MainLayout.astro'
---

<MainLayout>
  <div class="py-8">
    <div
      class="mx-auto mb-32 mt-8 grid max-w-full md:max-w-xl grid-cols-1 px-4 md:-mb-32 md:grid-cols-3 md:items-center"
    >
      <hgroup class="relative mb-0 flex flex-col items-center text-center md:items-end md:text-end">
        <h1 class="mb-4 title max-xxs:text-5xl text-6xl">
         Jan Müller
        </h1>
        <span class="-mb-2 w-fit pb-2 text-4xl font-medium">
          <Marquee />
          <span class="gradient-text from-neutral-500 to-neutral-700 dark:from-neutral-100 dark:to-neutral-300">Engineer</span>
        </span>
      </hgroup>
      <div
        class="-mb-32 mx-auto w-full max-w-sm md:mb-0 md:col-span-2"
      >
        <div class="w-full h-0 pb-[96.14%]">
          <Avatar />
        </div>
      </div>
    </div>
    <Badges />
    <ShowcaseSection />
    <CV />
  </div>
</MainLayout>
