---
import BaseHead from '~/components/BaseHead.astro'
import VectorNodesComponent from '~/components/experiments/VectorNodes.vue'
import Header from '~/components/Header.astro'
---

<!doctype html>
<html lang="en" class="dark overscroll-none">
  <head>
    <BaseHead loadTheme={false} />
    <style>
      html,
      body {
        height: 100vh;
        height: 100dvh;
      }

      body {
        background-color: var(--baklava-editor-background-pattern-default);
      }

      main {
        top: var(--header-height);
        height: calc(100% - var(--header-height));
      }
    </style>
  </head>
  <body class="relative max-w-full overflow-x-hidden">
    <Header
      class="border-transparent bg-(--baklava-toolbar-background)! backdrop-filter-none!"
      align="left"
      floating={false}
      showThemeToggle={false}
    />
    <main class="absolute inset-x-0 bottom-0">
      <VectorNodesComponent client:only="vue" />
    </main>
  </body>
</html>
