---
import BaseHead from '~/components/BaseHead.astro'
import VectorNodesComponent from '~/components/experiments/VectorNodes.vue'
import Header from '~/components/Header.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
    <style>
      html,
      body {
        height: 100vh;
        height: 100dvh;
      }

      body {
        background-color: var(--baklava-editor-background-pattern-default);
      }

      main {
        top: var(--header-height);
        height: calc(100% - var(--header-height));
      }
    </style>
  </head>
  <body class="dark relative max-w-full overflow-x-hidden text-white">
    <Header
      class="border-b-0 bg-(--baklava-toolbar-background)! backdrop-filter-none!"
      align="left"
    />
    <main class="absolute inset-x-0 bottom-0 bg-neutral-100">
      <VectorNodesComponent client:only="vue" />
    </main>
  </body>
</html>
