html {
  overflow-y: auto !important;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.v-btn {
  @extend .unselectable;
}

.bitter-font {
  font-family: 'Bitter', serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .bitter-font;

  line-height: 1.2;
}

h1 {
  font-size: clamp(2.5rem, 3vw, 3.5rem);
  margin-bottom: 1rem;
}

h2 {
  font-size: clamp(2rem, 2vw, 2.5rem);
  margin-bottom: 0.5rem;
}

h3 {
  font-size: clamp(1.5rem, 1.5vw, 2rem);
  margin-bottom: 0.25rem;
}

.page-container {
  display: flex;
  justify-content: center;
}

.justify-text {
  p {
    hyphens: manual;
    text-align: justify;
  }
}

.bound-width {
  max-width: 960px !important;
}

article {
  @extend .bound-width;

  margin: auto;

  .nuxt-content {
    .nuxt-content-highlight {
      position: relative;
      border-radius: 3px;
      box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
        0 1px 10px 0 rgb(0 0 0 / 12%);

      & + p {
        margin-top: 1rem;
      }

      code {
        all: unset !important;
      }

      pre {
        border-radius: 3px;
      }

      .filename {
        @extend .unselectable;

        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        margin-right: 0.5rem;
        margin-top: 0.25rem;
        font-weight: 300;
        font-size: 0.875rem;
        color: #c3cee3;
      }
    }

    video,
    .v-image,
    .nuxt-content-highlight {
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 960px) {
  article {
    .nuxt-content {
      iframe,
      .nuxt-content-highlight {
        margin-left: -12px;
        margin-right: -12px;
      }

      iframe {
        width: calc(100% + 24px);
      }

      .nuxt-content-highlight pre {
        border-radius: 0;
      }
    }
  }
}

.masonry-wall {
  width: 100%;
}

.responsive-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -1rem;

  > * {
    margin-top: 1rem;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.svg-icon {
  font-size: 0;
}

.v-toolbar__content,
.v-footer {
  display: flex;

  > div {
    flex: 1;
  }

  div:first-child > * {
    margin-right: auto;
  }

  div:last-child > * {
    margin-left: auto;
  }
}
