html {
  overflow-y: auto !important;
}

article {
  h1 {
    font-size: 2rem;
  }

  h2 {
    margin-top: 3rem;
  }

  .nuxt-content {
    .nuxt-content-highlight {
      & + p {
        margin-top: 1rem;
      }

      code {
        all: unset !important;
      }

      .filename {
        position: absolute;
        right: 0;
        z-index: 10;
        margin: 0.5rem;
        font-weight: lighter;
        font-size: smaller;
      }
    }
  }
}
