html {
  overflow-y: auto !important;
}

.page-container {
  display: flex;
  justify-content: center;
}

@media (min-width: 1024px) {
  .page-container {
    width: 64rem;
  }
}

.article-container {
  width: 100%;
}

article {
  margin-bottom: 3rem;

  h1 {
    font-size: 3rem;
  }

  h2 {
    margin-top: 3rem;
  }

  .nuxt-content {
    .nuxt-content-highlight {
      & + p {
        margin-top: 1rem;
      }

      code {
        all: unset !important;
      }

      .filename {
        position: absolute;
        right: 0;
        z-index: 1;
        margin: 0.5rem;
        font-weight: lighter;
        font-size: smaller;
      }
    }
  }
}
