h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', sans-serif !important;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

p {
  line-height: 1.6;
}

@media only screen and (max-width: 960px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.375rem;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }
}
