.cabin-font {
  font-family: 'Cabin', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .cabin-font;

  line-height: 1.2;
}

h1 {
  font-size: clamp(2.5rem, 3vw, 3.5rem);
  margin-bottom: 1rem;
}

h2 {
  font-size: clamp(2rem, 2vw, 2.5rem);
  margin-bottom: 0.5rem;
}

h3 {
  font-size: clamp(1.5rem, 1.5vw, 2rem);
  margin-bottom: 0.25rem;
}

p {
  line-height: 1.6;
}

.justify-text {
  p {
    hyphens: manual;
    text-align: justify;
  }
}
