---
import Experiment from '~/components/experiments/Experiment.astro'
---

<!-- TODO: Add plants -->
<Experiment class="rounded-sm bg-neutral-200 p-0">
  <div class="relative h-full">
    <div
      class="ant-container absolute inset-x-2 bottom-2 top-[35%] -z-10 bg-gradient-to-t from-neutral-800 to-yellow-900"
    >
    </div>
    <div class="absolute inset-x-0 top-0 h-2 bg-neutral-400"></div>
    <div
      class="absolute inset-y-0 left-0 w-2 bg-gradient-to-t from-black to-neutral-800"
    >
    </div>
    <div
      class="absolute inset-y-0 right-0 w-2 bg-gradient-to-t from-black to-neutral-800"
    >
    </div>
    <div class="absolute inset-x-0 bottom-0 h-2 bg-black"></div>
    <div
      class="absolute inset-0 bg-gradient-to-tr from-neutral-400 to-neutral-50 opacity-10"
    >
    </div>
    <div
      class="absolute bottom-4 right-4 z-10 rounded bg-gradient-to-tr from-neutral-400 to-neutral-100 p-1 text-[0.4rem] outline outline-1 outline-neutral-400"
    >
      <span class="text-bold uppercase">Ants</span>
    </div>
  </div>
</Experiment>

<script src="~/components/experiments/ants.ts"></script>
