---
import Showcase from '~/components/showcase/Showcase.astro'
---

<Showcase name="neon-bar" class="p-0 neon-bar-experiment">
  <div class="neon-bar relative flex size-full overflow-hidden">
    <div class="gradient-left h-full w-1/2"></div>
    <div class="gradient-right h-full w-1/2"></div>
    <style>
      .neon-bar {
        --from: red;
        --to: black;
        --angle: 90deg;
      }

      .gradient-left {
        background: conic-gradient(from var(--angle), var(--from), var(--to));
      }

      .gradient-right {
        background: conic-gradient(
          from calc(360deg - var(--angle)),
          var(--to),
          var(--from)
        );
      }
    </style>
  </div>
</Showcase>

<script src="~/components/experiments/neonBar.ts"></script>
