---
import Experiment from '~/components/experiments/Experiment.astro'
---

<Experiment class="!p-0">
  <div class="neon-bar relative flex size-full overflow-hidden">
    <div class="gradient-left h-full w-[50%]"></div>
    <div class="gradient-right h-full w-[calc(50%)]"></div>
    <style>
      .neon-bar {
        --from: red;
        --to: black;
        --angle: 90deg;
      }

      .gradient-left {
        background: conic-gradient(from var(--angle), var(--from), var(--to));
      }

      .gradient-right {
        background: conic-gradient(
          from calc(360deg - var(--angle)),
          var(--to),
          var(--from)
        );
      }
    </style>
  </div>
</Experiment>

<script src="~/components/experiments/neonBar.ts"></script>
