---
import { Vector } from 'vecti'

import Showcase from '~/components/showcase/Showcase.astro'
import VisualizerInterface from '~/components/experiments/VisualizerInterface.vue'
import ShowcaseTitle from '~/components/showcase/ShowcaseTitle.astro'
import ShowcaseDescription from '~/components/showcase/ShowcaseDescription.astro'

const name = 'Vector Nodes'

const vectors: Vector[] = (() => {
  const a = new Vector(20, 5)
  const b = new Vector(5, 20)
  return [a, b, a.add(b)]
})()
---

<Showcase
  name={name}
  link="/experiments/vector-nodes"
  class="dark bg-linear-to-tr from-[#0e1016] to-[#2b344e]"
>
  <div>
    <ShowcaseTitle>{name}</ShowcaseTitle>
    <ShowcaseDescription>
      Node-based editor for 2D vector calculations, built with <a
        class="no-underline text-white"
        href="https://github.com/newcat/baklavajs"
      >BaklavaJS</a
      >.
    </ShowcaseDescription>
  </div>
  <div class="mx-auto w-48 max-w-full sm:w-64">
    <style is:inline>
      .grid-lines {
        opacity: 0;
      }
    </style>
    <VisualizerInterface modelValue={vectors} />
  </div>
</Showcase>
