<section
  class="my-32 prose dark:prose-invert mx-auto children:text-justify px-4 grid grid-cols-12 children:col-span-12 md:gap-16"
>
  <div class="prose-2xl">
    <h2 class="flex flex-col w-fit mx-auto">
      <span class="center">About</span>
      <span class="text-center font-extralight self-end">Me</span>
    </h2>
  </div>
  <div>
    <h3 class="text-sm uppercase font-black text-rose-500 dark:text-rose-500">
      Work & Education
    </h3>
    <p>
      In 2021, I finished my bachelor's degree in computer science at the
      University of Kassel. Currently, I am studying <mark
        >Software Engineering & Internet Computing at the TU Wien.
      </mark> In parallel, I am a <mark
        >working student at Senacor Technologies AG.
      </mark>
    </p>
  </div>
  <div class="md:col-span-7">
    <h3 class="text-sm uppercase font-black text-teal-500 dark:text-teal-500">
      Programming
    </h3>
    <p>
      Programming is one of my hobbies in particular. I work on various <mark
        >open source and hobby projects,
      </mark> which I use as a platform for learning and giving back to the <abbr
        title="Open-source Software"
        >OSS
      </abbr> community.
    </p>
    <p>
      I am active in both <mark>backend and frontend development</mark>. In the
      latter field, I am developing websites and mobile apps. I am not averse to
      the theoretical aspects of software development and like to deal with
      <mark>algorithms, data structures, or the big O notation,</mark> among others.
    </p>
  </div>
  <div class="md:col-span-5">
    <h3 class="text-sm uppercase font-black text-blue-500 dark:text-blue-500">
      Hobbies & Inspiration
    </h3>
    <p>
      I find my inspiration while <mark
        >listening to music, walking, and reading,
      </mark> where I like to lose myself in science fiction worlds like Frank Herbert's
      Dune. Both melancholic songs by Ben Howard and breathtaking soundtracks of
      my favorite video games accompany me during hours of programming and inspire
      me to look for solutions to even the trickiest problems.
    </p>
  </div>
</section>
