---
import About from '~/components/project/About.astro'
import CYKVisualizer from '~/components/project/CYKVisualizer.astro'
import Formi from '~/components/project/Formi.astro'
import Masonry from '~/components/project/Masonry.astro'
import Noted from '~/components/project/Noted.astro'
import Photo from '~/components/project/Photo.astro'
import Refunk from '~/components/project/Refunk.astro'
import WienerTime from '~/components/project/WienerTime.astro'
---

<section class="px-4">
  <div
    class="max-w-3xl 2xl:max-w-none mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 2xl:grid-cols-5 grid-flow-row gap-4"
  >
    <div class="row-span-2">
      <Formi />
    </div>
    <div>
      <About />
    </div>
    <div class="sm:col-span-2">
      <WienerTime />
    </div>
    <div class="md:col-span-2 h-48">
      <Masonry />
    </div>
    <div class="md:col-span-2">
      <Noted />
    </div>
    <div>
      <Photo />
    </div>
    <div>
      <Refunk />
    </div>
    <div>
      <CYKVisualizer />
    </div>
  </div>
</section>
