<section
  class="my-32 prose dark:prose-invert mx-auto children:text-center px-4"
>
  <div class="prose-2xl">
    <h2 class="flex flex-col w-fit mx-auto">
      <span class="center">About</span>
      <span class="text-center font-extralight self-end">Me</span>
    </h2>
  </div>
  <p>
    In 2021, I finished my bachelor's degree in computer science at the
    University of Kassel. Currently, I am studying <mark
      >Software Engineering & Internet Computing at the TU Wien.
    </mark> In parallel, I am a <mark
      >working student at Senacor Technologies AG.
    </mark>
  </p>
  <p>
    Programming is one of my hobbies in particular. I work on various <mark
      >open source and hobby projects,
    </mark> which I use as a platform for learning. In the process, I strive for
    iterative improvements of my source code to constantly develop my style, architecture,
    and programming-related knowledge.
  </p>
  <p>
    I am active in both <mark>backend and frontend development</mark>. In the
    latter field, I am developing websites and mobile apps. I am not averse to
    the theoretical aspects of software development and like to deal with
    <mark>algorithms, data structures, or the big O notation,</mark> among others.
  </p>
  <p>
    In internships as a software developer as well as multiple jobs as a grader
    and tutor at the University of Kassel, I was able to expand my skills and
    pass them on to other students.
  </p>
  <p>
    I find my inspiration while <mark
      >listening to music, walking, and reading,
    </mark> where I like to lose myself in science fiction worlds like Frank Herbert's
    Dune. Both melancholic songs by Ben Howard and breathtaking soundtracks of my
    favorite video games accompany me during hours of programming and inspire me
    to look for solutions to even the trickiest problems.
  </p>
</section>
