<section
  class="px-4 prose dark:prose-invert mx-auto max-w-4xl my-32 text-justify grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-24 sm:gap-16 [&>*>*:first-child]:mt-0 [&>*>*:last-child]:mb-0"
>
  <div class="prose-2xl col-span-full">
    <h2 class="flex flex-col w-fit mx-auto my-0">
      <span class="center">About</span>
      <span class="text-center font-extralight self-end">Me</span>
    </h2>
  </div>
  <div class="col-span-full sm:col-span-1">
    <h3 class="text-start text-xs uppercase font-black">Web & Mobile</h3>
    <p>
      I develop <mark
        >websites, apps, APIs, <a
          href="https://www.npmjs.com/~yeger"
          rel="noreferrer"
          target="_blank"
          class="inline-block"
          >libraries
        </a>, and CLIs
      </mark> using various programming languages, including <mark
        >Kotlin, TypeScript, Go, and Python,
      </mark> as well as frameworks like <mark
        >React, Vue, Angular, and Astro.
      </mark>
    </p>
    <p>
      In addition to development, I work on tasks related to <mark
        >DevOps,
      </mark> such as designing efficient <mark>CI pipelines</mark> and handling
      <mark>deployment of microservices</mark>.
    </p>
  </div>
  <div class="col-span-full sm:col-span-1">
    <h3 class="text-start text-xs uppercase font-black">Programming</h3>
    <p>
      I enjoy working on <mark>open-source and hobby projects,</mark> which I use
      as a platform for learning new technologies and giving back to the
      <abbr title="Open-source Software">OSS</abbr> community.
    </p>
    <p>
      I am also not averse to the theoretical aspects of software development
      and like to deal with
      <mark>algorithms, data structures, or the big O notation,</mark> among others.
    </p>
  </div>
  <div class="col-span-full lg:col-span-1">
    <h3 class="text-start text-xs uppercase font-black">
      Hobbies & Inspiration
    </h3>
    <p>
      I find my inspiration while <mark
        >listening to music, walking, and reading,
      </mark> where I like to lose myself in science fiction worlds like Frank Herbert's
      Dune.
    </p>
    <p>
      Both melancholic songs by Ben Howard and breathtaking soundtracks of my
      favorite video games accompany me during hours of programming and inspire
      me to look for solutions to even the trickiest problems.
    </p>
  </div>
</section>
