---
import Icon from 'astro-icon'

import { accounts } from '../lib'
---

<section
  class="screen-wide bg-zinc-200 dark:bg-zinc-800 border-zinc-300 dark:border-zinc-700 border-y prose dark:prose-invert prose-2xl max-w-none py-8 my-32"
>
  <div class="flex gap-8 justify-center children:w-6">
    {
      accounts.map((account) => (
        <a
          href={account.href}
          rel="noreferrer"
          target="_blank"
          class="flex items-center text-light hover:text-black hover:dark:text-white transition-colors"
        >
          <Icon name={account.icon} class="dark:filter-invert" />
        </a>
      ))
    }
  </div>
  <div class="flex justify-center mt-8">
    <a
      href="/blog"
      rel="prefetch"
      class="no-underline px-4 py-2 rounded-3xl bg-blue-500 hover:bg-blue-600 text-white hover:text-white transition-colors !text-base flex gap-2 items-center"
    >
      Blog
      <Icon name="akar-icons:arrow-right" class="h-[20px]" />
    </a>
  </div>
</section>
