---
import { cn } from '~/components/ui/cn'

interface Props {
  to: string
}

const { to } = Astro.props
---

<a
  href={to}
  class={cn('flex font-bold items-center gap-2 bg-linear-to-br px-4 py-2 rounded-full from-blue-700 to-blue-500 text-white anchor-custom no-underline shadow-lg transition-shadow hover:brightness-125 active:brightness-80 hover:drop-shadow-lg translate-z-0 focus-visible:ring-black dark:focus-visible:ring-white')}
  style="transition-property: filter, box-shadow;"
  data-testid={`badge-button-${to}`}
>
  <slot />
</a>
