---
import { Icon } from 'astro-icon/components'

import BadgeButton from '@components/BadgeButton.astro'
import { cn } from '@components/ui/cn'
import { accounts } from '@utils/lib'
---

<nav
  class={cn('relative my-32 w-full max-w-none border-y border-medium bg-neutral-200 dark:bg-neutral-900 px-4 py-8 shadow-lg')}
  data-testid="badges"
  aria-label="Links to social accounts and other pages"
>
  <div class="flex justify-center gap-8 flex-wrap">
    {
      accounts.map((account) => (
        <a
          href={account.href}
          rel="noreferrer"
          target="_blank"
          title={account.name}
          class={cn(
            'hocus:box-shadow-2xl size-6 text-light hocus:text-strong',
          )}
          data-testid={`badge-${account.name}`}
        >
          <Icon name={account.icon} class="size-6" />
        </a>
      ))
    }
  </div>
  <div class={cn('mt-8 flex flex-wrap justify-center gap-4')}>
    <BadgeButton to="#experience" text="CV" />
    <BadgeButton to="/blog" text="Blog" />
    <BadgeButton to="/photography" text="Photography" />
  </div>
</nav>
