---
import { Icon } from 'astro-icon/components'

import BadgeButton from '~/components/BadgeButton.astro'
import { accounts } from '~/lib'
---

<section
  class="prose prose-2xl relative my-32 w-full max-w-none border-y border-zinc-300 bg-zinc-200 px-4 py-8 shadow-lg"
  data-testid="badges"
>
  <div class="flex justify-center gap-8">
    {
      accounts.map((account) => (
        <a
          href={account.href}
          rel="noreferrer"
          target="_blank"
          title={account.name}
          class="hover:box-shadow-2xl size-6 text-neutral-700 transition-all hover:text-black"
          data-testid={`badge-${account.name}`}
        >
          <Icon name={account.icon} class="size-6" />
        </a>
      ))
    }
  </div>
  <div class="mt-8 flex flex-wrap justify-center gap-4">
    <BadgeButton to="#experience">
      CV
      <Icon name="akar-icons:arrow-right" class="size-[20px]" />
    </BadgeButton>
    <BadgeButton to="/blog">
      Blog
      <Icon name="akar-icons:arrow-right" class="size-[20px]" />
    </BadgeButton>
    <BadgeButton to="/photography">
      Photography
      <Icon name="akar-icons:arrow-right" class="size-[20px]" />
    </BadgeButton>
  </div>
</section>
