---
interface Props {
  to: string
}

const { to } = Astro.props
---

<a
  href={to}
  class="flex items-center gap-2 bg-gradient-to-br from-blue-700 to-blue-500 !text-base !text-white no-underline shadow-lg transition-shadow hover:brightness-125 hover:drop-shadow-lg"
  style="border-radius: 1.5rem; padding: 0.5rem 1rem; transition-property: filter, box-shadow;"
>
  <slot />
</a>
