---
import { Icon } from 'astro-icon'

import { accounts } from '~/lib'
---

<section
  class="prose prose-2xl relative my-32 w-full max-w-none border-y border-zinc-300 bg-zinc-200 px-4 py-8 shadow-lg"
>
  <div class="children:w-6 children:h-6 flex justify-center gap-8">
    {
      accounts.map((account) => (
        <a
          href={account.href}
          rel="noreferrer"
          target="_blank"
          title={account.name}
          class="text-light hover:box-shadow-2xl transition-all hover:text-black"
        >
          <Icon name={account.icon} />
        </a>
      ))
    }
  </div>
  <div class="mt-8 flex justify-center">
    <a
      href="/blog"
      rel="prefetch"
      class="raised flex items-center gap-2 bg-gradient-to-br from-blue-700 to-blue-500 !text-base text-white no-underline shadow-lg transition-all hover:text-white hover:brightness-125"
      style="border-radius: 1.5rem; padding: 0.5rem 1rem;"
    >
      Blog
      <Icon name="akar-icons:arrow-right" class="h-[20px]" />
    </a>
  </div>
</section>
