---
import { Icon } from 'astro-icon/components'

import BadgeButton from '~/components/BadgeButton.astro'
import { cn } from '~/components/ui/cn'
import { accounts } from '~/lib'
---

<section
  class={cn('relative my-32 w-full max-w-none border-y border-medium bg-neutral-200 dark:bg-neutral-900 px-4 py-8 shadow-lg')}
  data-testid="badges"
>
  <div class="flex justify-center gap-8">
    {
      accounts.map((account) => (
        <a
          href={account.href}
          rel="noreferrer"
          target="_blank"
          title={account.name}
          class={cn(
            'hover:box-shadow-2xl size-6 text-light hover:text-strong',
          )}
          data-testid={`badge-${account.name}`}
        >
          <Icon name={account.icon} class="size-6" />
        </a>
      ))
    }
  </div>
  <div class={cn('mt-8 flex flex-wrap justify-center gap-4')}>
    <BadgeButton to="#experience">
      CV
      <Icon name="akar-icons:arrow-right" class="size-5" />
    </BadgeButton>
    <BadgeButton to="/blog">
      Blog
      <Icon name="akar-icons:arrow-right" class="size-5" />
    </BadgeButton>
    <BadgeButton to="/photography">
      Photography
      <Icon name="akar-icons:arrow-right" class="size-5" />
    </BadgeButton>
  </div>
</section>
