---
import { Icon } from 'astro-icon'

import { accounts } from '~/lib'
---

<section
  class="w-full px-4 relative bg-zinc-200 dark:bg-zinc-800 border-zinc-300 dark:border-zinc-700 border-y prose dark:prose-invert prose-2xl max-w-none py-8 my-32"
>
  <div class="flex gap-8 justify-center children:w-6 children:h-6">
    {
      accounts.map((account) => (
        <a
          href={account.href}
          rel="noreferrer"
          target="_blank"
          title={account.name}
          class="text-light hover:text-black hover:dark:text-white transition-colors"
        >
          <Icon name={account.icon} />
        </a>
      ))
    }
  </div>
  <div class="flex justify-center mt-8">
    <a
      href="/blog"
      rel="prefetch"
      class="no-underline rounded-3xl text-white hover:text-white hover:dark:text-white !text-base flex gap-2 items-center hover:scale-105 transition-all bg-gradient-to-r from-blue-500 to-blue-600 dark:from-blue-500 dark:to-blue-600"
      style="padding: 0.5rem 1rem;"
    >
      Blog
      <Icon name="akar-icons:arrow-right" class="h-[20px]" />
    </a>
  </div>
</section>
