---
// eslint-disable-next-line no-undef
interface Props extends astroHTML.JSX.HTMLAttributes {
  title: string
}

const { title, role } = Astro.props as Props;
---

<div aria-label={title} role={role} class="flex flex-col flex-1 max-w-40 [&>*]:w-fit [&>*]:py-2">
  <span class="font-bold mb-2">
    {title}
  </span>
  <slot />
</div>
