---
const year = new Date().getFullYear()
---

<footer
  class="surface border-t p-8 flex flex-row text-sm gap-8 items-start content-start flex-wrap justify-center children:flex children:flex-col children:gap-1 [&>*>*:first-child]:font-bold [&>*>*:first-child]:mb-4 [&>*>*:first-child]:text-md"
>
  <div>
    <span class="mb-4">About</span>
    <a
      href="/impressum"
    >
      Impressum
    </a>
    <a
      href="/about"
    >
      About
    </a>
    <a
      href="https://github.com/DerYeger/jan-mueller"
      rel="noopener"
      target="_blank"
    >
      Source
    </a>
    <span class="text-lighter">
      {year} &copy; Jan M&uuml;ller
    </span>
    <span class="text-lighter">TODO views</span>
  </div>
  <div>
    <span class="mb-4">Contact</span>
    <a
      href="https://github.com/DerYeger"
      rel="noopener"
      target="_blank"
      title="GitHub"
    >
      GitHub
    </a>

    <a
      href="https://www.xing.com/profile/Jan_Mueller1092/cv"
      rel="noopener"
      target="_blank"
      title="XING"
    >
      XING
    </a>

    <a href="mailto:mail@jan-mueller.at" title="XING"> Mail </a>
  </div>
</footer>
