---
import ViewCounter from './ViewCounter'
const year = new Date().getFullYear()
---

<footer
  class="surface text-xs border-t shadow-none px-2 py-8 flex flex-row gap-4 items-start content-start flex-wrap justify-center children:flex children:flex-col children:gap-3 [&>*>*:first-child]:mb-4"
>
  <div>
    <span class="mb-4">Legal</span>
    <a href="/impressum">Impressum</a>
    <a href="/about">About</a>

    <span class="text-lighter">
      {year} &copy; Jan M&uuml;ller
    </span>
  </div>
  <div>
    <span>Resources</span>
    <a
      href="https://github.com/DerYeger/jan-mueller"
      rel="noreferrer"
      target="_blank"
    >
      Source
    </a>
    <ViewCounter client:only="react" />
  </div>
  <div>
    <span class="mb-4">Contact</span>
    <a
      href="https://github.com/DerYeger"
      rel="noreferrer"
      target="_blank"
      title="GitHub"
    >
      GitHub
    </a>

    <a
      href="https://www.xing.com/profile/Jan_Mueller1092/cv"
      rel="noreferrer"
      target="_blank"
      title="XING"
    >
      XING
    </a>

    <a href="mailto:mail@jan-mueller.at" title="XING"> Mail</a>
  </div>
</footer>
