---
import { accounts } from '../lib'

import OpenInNew from './icons/OpenInNew.astro'
import ViewCounter from './ViewCounter'

const year = new Date().getFullYear()
---

<footer
  class="surface text-xs border-t shadow-none px-2 py-8 children:px-2 flex flex-row gap-0 items-start justify-center children:flex children:flex-col children:gap-3 [&>*>*:first-child]:mb-4 children:w-1/3 children:max-w-[10rem]"
>
  <div>
    <span>Legal</span>
    <a href="/impressum" rel="prefetch">Impressum</a>
    <a href="/datenschutzerklaerung" rel="prefetch">
      Datenschutz<wbr />erklärung
    </a>
    <a href="/legal-notice" rel="prefetch">Legal Notice</a>
    <span class="text-lighter">
      {year} &copy; Jan M&uuml;ller
    </span>
  </div>
  <div>
    <span>Resources</span>
    <a href="/rss.xml"> RSS Feed</a>
    <a
      href="https://github.com/DerYeger/jan-mueller"
      rel="noreferrer"
      target="_blank"
    >
      Source
      <OpenInNew />
    </a>
    <ViewCounter client:idle />
  </div>
  <div>
    <span>Contact</span>
    {
      accounts.map((account) => (
        <a href={account.href} rel="noreferrer" target="_blank">
          {account.name}
          <OpenInNew />
        </a>
      ))
    }
    <a href="mailto:mail@jan-mueller.at" title="Mail">Mail</a>
  </div>
</footer>
