---
import FooterColumn from '~/components/FooterColumn.astro'
import OpenInNew from '~/components/icons/OpenInNew.astro'
import { cn } from '~/components/ui/cn'
import { accounts, getToday } from '~/lib'

interface Props {
  class?: string
}

const { class: className } = Astro.props

const year = getToday().getFullYear()
---

<footer
  class={cn(
    'flex gap-4 items-start justify-center max-xxs:flex-col p-4 pt-6 pb-8 text-sm',
    'border-t border-medium',
    className,
  )}
>
  <FooterColumn title="Legal" role="navigation">
    <a href="/impressum/" lang="de">Impressum</a>
    <a href="/legal-notice/">Legal Notice</a>
    <span class="copyright">
      {year} &copy; Jan M&uuml;ller
    </span>
  </FooterColumn>
  <FooterColumn title="Resources" role="navigation">
    <a href="/rss.xml"> RSS Feed</a>
    <a
      href="https://github.com/DerYeger/jan-mueller"
      rel="noreferrer"
      target="_blank"

    >
      Source
      <OpenInNew />
    </a>
  </FooterColumn>
  <FooterColumn title="Contact" role="navigation">
    {
      accounts.map((account) => (
        <a href={account.href} rel="noreferrer" target="_blank">
          {account.name}
          <OpenInNew />
        </a>
      ))
    }
    <address class="not-italic">
      <a href="mailto:mail@janmueller.dev" title="Mail">Mail</a>
    </address>
  </FooterColumn>
</footer>
