---
import { Icon } from 'astro-icon'

import Navigation from '~/components/Navigation.astro'
import ThemeToggle from '~/components/ThemeToggle'
---

<header
  class="flex items-center justify-between p-4 pr-0 sticky top-0 surface-border glass z-10 border-b h-[48px]"
>
  <Navigation />
  <div>
    <ThemeToggle client:load>
      <Icon name="carbon:sun" slot="light" class="h-[24px] w-[24px]" />
      <Icon name="carbon:moon" slot="dark" class="h-[24px] w-[24px]" />
    </ThemeToggle>
  </div>
</header>
