---
// eslint-disable-next-line no-undef
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, ...props } = Astro.props as Props

const isActive = href === Astro.url.pathname
---

<div class="flex flex-1 justify-center md:grow-0">
  <a
    href={href}
    rel="prefetch"
    class:list={[
      'inline-block transition-border no-underline px-3 py-1 rounded text-sm border',
      'hover:text-black hover:bg-neutral-50  hover:border-neutral-400', // light hover state
      'hover:dark:text-white hover:dark:bg-transparent hover:dark:border-neutral-600', // dark hover state
      'active:border-neutral-600 active:bg-neutral-100', // light active state
      'active:border-neutral-400 active:bg-transparent', // dark active state
      {
        'border-transparent': !isActive,
        'border-neutral-200 dark:border-neutral-800': isActive,
      },
    ]}
    {...props}
  >
    <slot />
  </a>
</div>
