---
import Navigation from '~/components/Navigation.astro'
import ThemeToggle from '~/components/ThemeToggle.astro'
---

<header
  class="flex items-center justify-between p-4 pr-0 sticky top-0 surface-border glass z-10 border-b h-[48px]"
>
  <Navigation />
  <div>
    <ThemeToggle />
  </div>
</header>
