---
import { Icon } from 'astro-icon/components'
import { cn } from '~/components/ui/cn'

interface Props {
  id: string
  level: 1 | 2 | 3 | 4 | 5 | 6
  alwaysVisible?: boolean
  isGroup?: boolean
  class?: string
}

const { id, level, alwaysVisible = false, isGroup = true, class: className = undefined } = Astro.props

const Tag = `h${level}` as const
---

<Tag id={id} class={cn('size-fit flex items-center', isGroup && 'group/heading', className)}>
  <slot />
  <a href={`#${id}`} aria-labelledby={id} class={cn('anchor-heading', !alwaysVisible && 'transition-opacity opacity-0 pointer-events-none focus-visible:pointer-events-auto group-hover/heading:pointer-events-auto focus-visible:opacity-100 group-hover/heading:opacity-100')}>
    <Icon aria-hidden="true" name="akar-icons:link-chain" class="text-(--size)" />
  </a>
</Tag>
