---
import { cn } from '~/components/ui/cn'

// eslint-disable-next-line no-undef
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  exact?: boolean
  first: boolean
  last: boolean
}

const { href, exact, first, last, ...props } = Astro.props as Props

const isHome = href === '/'
const isExact = href === Astro.url.pathname || `${href}/` === Astro.url.pathname
const isSub = typeof href === 'string' && Astro.url.pathname.startsWith(href)
const isActive = isExact || (!exact && !isHome && isSub)
---

<div class={cn('flex flex-1 relative items-center justify-center', first && '-ml-2', last && '-mr-2')}>
  <a
    href={href}
    class={cn(
      'inline-block font-bold transition-none no-underline max-xxs:px-3 px-5 py-2 -my-1 text-sm',
      'hover:text-black! dark:hover:text-white!',
      isActive ? 'active-link text-strong' : 'text-lighter',
    )}
    data-active={isActive ? 'true' : undefined}
    {...props}
  >
    <slot />
    {isActive && <div class="absolute bg-current h-[3px] -bottom-2 max-xxs:left-1 left-2 max-xxs:right-1 right-2 pointer-events-none" aria-hidden="true" />}
  </a>
</div>
