---
import Navigation from '~/components/Navigation.astro'
import ThemeToggle from '~/components/ThemeToggle.astro'
import { cn } from '~/components/ui/cn'
import { mainLinks } from '~/links'
import type { Link } from '~/links'

interface Props {
  class?: string
  sublinks?: Link[]
  floating?: boolean
  showThemeToggle?: boolean
}

const { class: extraClasses = '', sublinks, floating = false, showThemeToggle = true } = Astro.props
---

<header
  class={cn(
    'border-b border-medium glass sticky top-0 z-50 flex items-center gap-4 px-4 py-2',
    floating && 'w-full sm:w-fit sm:top-4 sm:mx-auto sm:rounded-lg shadow-lg sm:border',
    sublinks && 'with-sublinks flex flex-col',
    extraClasses,
  )}
>
  <div class={cn('flex justify-between items-center w-full', floating && 'sm:w-fit')}>
    <Navigation links={mainLinks} />
    {showThemeToggle ? <ThemeToggle class="ml-8 max-xxs:hidden" /> : null}
  </div>
  {sublinks ? (<div class={cn('pb-1.5 -mb-1.5 w-fit max-sm:mr-auto', floating && 'mr-auto')}>
      <Navigation links={sublinks} isSub />
    </div>
  ) : null}
</header>

<style is:global>
  :root {
    --header-height: 46px;
    --header-height-with-sublinks: calc(2 * var(--header-height) - 2px);
  }

  header {
    height: var(--header-height);

    &.with-sublinks {
      height: var(--header-height-with-sublinks);
    }
  }
</style>
