---
// eslint-disable-next-line no-undef
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  exact?: boolean
}

const { href, exact, ...props } = Astro.props as Props

const isHome = href === '/'
const isExact = href === Astro.url.pathname || `${href}/` === Astro.url.pathname
const isSub = typeof href === 'string' && Astro.url.pathname.startsWith(href)
const isActive = isExact || (!exact && !isHome && isSub)
---

<div class="flex flex-1 items-center justify-center md:grow-0">
  <a
    href={href}
    class:list={[
      'inline-block transition-none no-underline px-3 py-1 rounded text-sm border',
      'hover:text-black hover:bg-neutral-50  hover:border-neutral-400', // light hover state
      'hover:dark:text-white hover:dark:bg-transparent hover:dark:border-neutral-600', // dark hover state
      'hover:active:border-neutral-600 hover:active:bg-neutral-100', // light active state
      'hover:active:dark:border-neutral-400 hover:active:dark:bg-transparent', // dark active state
      {
        'border-transparent': !isActive,
        'border-neutral-200 dark:border-neutral-800': isActive,
      },
    ]}
    {...props}
  >
    <slot />
  </a>
</div>
