<div
  class="marquee my-[-0.25em] inline-block h-[1.25em] overflow-hidden bg-inherit"
  role="marquee"
>
  <div
    class="flex flex-col gap-4 whitespace-nowrap bg-inherit text-end"
  >
    <span class="gradient-text from-blue-400 to-blue-600 dark:from-blue-300 dark:to-blue-500">Software</span>
    <span class="gradient-text from-rose-400 to-rose-600 dark:from-rose-300 dark:to-rose-500">Web</span>
    <span class="gradient-text from-teal-400 to-teal-600 dark:from-teal-300 dark:to-teal-500">Mobile</span>
    <span class="gradient-text from-blue-400 to-blue-600 dark:from-blue-300 dark:to-blue-500" aria-hidden="true">Software</span>
  </div>
</div>

<style scoped>
  .marquee {
    --padding: 0.5rem;
    mask-image: linear-gradient(
      to top,
      transparent 0px, black var(--padding),
      black calc(100% - var(--padding)),
      transparent 100%
    );
  }

  .marquee > div {
    animation: vertical-marquee 8s cubic-bezier(0.25, 0.85, 0.4, 1) infinite;
    padding: var(--padding) 0;
    --offset: -5.5px;
  }

  @keyframes vertical-marquee {
    0%,
    11.11% {
      transform: translateY(calc((0% / 4) + var(--offset)));
    }

    22.22%,
    44.44% {
      transform: translateY(calc((-100% / 4) + var(--offset)));
    }

    55.55%,
    77.77% {
      transform: translateY(calc((-200% / 4) + var(--offset)));
    }

    89.89%,
    100% {
      transform: translateY(calc((-300% / 4) + var(--offset)));
    }
  }
</style>
