---
import HeaderLink from '~/components/HeaderLink.astro'
---

<nav class="flex flex-1 justify-evenly gap-2 sm:justify-normal">
  <HeaderLink href={'/'}>Home</HeaderLink>
  <HeaderLink href={'/blog/'}>Blog</HeaderLink>
  <HeaderLink href={'/experiments/'}>Experiments</HeaderLink>
  <HeaderLink href={'/photography/'}>Photography</HeaderLink>
</nav>
