---
import HeaderLink from "./HeaderLink.astro";

---

<nav class="flex justify-center gap-4 text-lg">
  <HeaderLink href={'/'}>Home</HeaderLink>
  <HeaderLink href={'/blog'}>Blog</HeaderLink>
</nav>
