---
import HeaderLink from '~/components/HeaderLink.astro'
import { cn } from '~/components/ui/cn'
import type { Link } from '~/links'

interface Props {
  links: Link[]
  label: string
  isSub?: boolean
}

const { links, label, isSub = false } = Astro.props
---

<nav aria-label={label} class={cn('nav-with-indicator flex flex-0 w-full justify-evenly relative')}>
  <div style="opacity: 0;" class={cn('nav-indicator [--offset:8px] min-xxs:[--offset:16px] transition-all duration-150 absolute -bottom-2 max-xxs:left-1 left-2 h-[3px] bg-current pointer-events-none z-10')} aria-hidden="true"></div>
  {links.map((link, index) => (
    <HeaderLink
      href={link.href}
      exact={isSub}
      first={index === 0}
      last={index === links.length - 1}
    >
      {link.label}
    </HeaderLink>
  ))}
</nav>

<style>
  .nav-indicator {
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    width: calc(var(--indicator-width, var(--offset)) - var(--offset));
    transform: translateX(var(--indicator-left, 0));
  }
</style>
