---
import HeaderLink from '~/components/HeaderLink.astro'
---

<nav class="flex gap-2">
  <HeaderLink href={'/'}>Home</HeaderLink>
  <HeaderLink href={'/blog/'}>Blog</HeaderLink>
  <HeaderLink href={'/experiments/'}>Experiments</HeaderLink>
</nav>
