---
import { Icon } from 'astro-icon/components'
import { cn } from '~/components/ui/cn'

interface Props {
  class?: string
}

const { class: className } = Astro.props as Props
---

<button
  id="theme-toggle"
  class={cn('relative size-6 hover:text-strong flex items-center translate-z-0', className)}
  aria-label="Toggle theme"
  title="Toggle dark/light mode"
  type="button"
>
  <Icon name="akar-icons:sun" class="size-5 absolute inset-0.5 opacity-100 dark:opacity-0 transition-opacity" />
  <Icon name="akar-icons:moon" class="size-5 absolute inset-0.5 opacity-0 dark:opacity-100 transition-opacity" />
</button>

<script>
  const themeToggle = document.getElementById('theme-toggle')

  themeToggle?.addEventListener('click', toggleTheme)

  function toggleTheme() {
    const html = document.documentElement
    const metaTag = document.querySelector('meta[name="theme-color"]')!
    if (html.classList.contains('dark')) {
      html.classList.remove('dark')
      localStorage.setItem('theme', 'light')
      metaTag.setAttribute('content', '#FFFFFF')
    } else {
      html.classList.add('dark')
      localStorage.setItem('theme', 'dark')
      metaTag.setAttribute('content', '#000000')
    }
  }
</script>
