---
import { Icon } from 'astro-icon'
---

<button
  id="theme-toggle"
  class="h-[48px] w-[48px] flex items-center justify-center"
  title="Toggle dark mode"
>
  <Icon name="carbon:sun" class="h-[24px] w-[24px]" />
  <Icon name="carbon:moon" class="h-[24px] w-[24px] hidden" />
</button>

<script>
  const key = 'dark-theme'
  let dark = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem(key)) {
      return localStorage.getItem(key) === 'true'
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return true
    }
    return false
  })()

  window.localStorage.setItem(key, dark.toString())

  const button = document.getElementById('theme-toggle')!
  const [darkIcon, lightIcon] = button.querySelectorAll('svg')

  button.addEventListener('click', toggleTheme)
  updateClasses()

  function updateClasses() {
    lightIcon.classList[dark ? 'remove' : 'add']('hidden')
    darkIcon.classList[dark ? 'add' : 'remove']('hidden')
    document.documentElement.classList[dark ? 'add' : 'remove']('dark')
  }

  function toggleTheme() {
    dark = !dark
    localStorage.setItem(key, dark.toString())
    updateClasses()
  }
</script>
