---
import { cn } from '~/components/ui/cn'

interface Props {
  position: 'left' | 'right'
  title: string
  class?: string
}

const { position, title, class: className } = Astro.props
---

<div class={cn('sticky top-(--header-height) max-h-[calc(100dvh-var(--header-height))] hidden w-64 xl:flex grow', position === 'left' ? 'justify-end' : 'justify-start', className)}>
  <div class="flex flex-col pt-8 text-sm max-h-full">
      <div class={cn('font-semibold text-lg px-2 text-black', position === 'left' ? 'text-right mr-12' : 'text-start')}>
        {title}
      </div>
      <div class={cn('flex flex-col sidebar p-2 grow gap-1 overflow-y-auto text-black', position === 'left' ? 'text-end' : 'text-start')}>
        <slot />
      </div>
</div>
<style>
  .sidebar {
    --padding: 1rem;
    padding-block: var(--padding);
    mask-image: linear-gradient(
      to top,
      transparent 0px, black var(--padding),
      black calc(100% - var(--padding)),
      transparent 100%
    );
  }
</style>
