---
import Showcase from '~/components/showcase/Showcase.astro'
import ShowcaseDescription from '~/components/showcase/ShowcaseDescription.astro'
import ShowcaseTitle from '~/components/showcase/ShowcaseTitle.astro'

const name = 'About Me'
---

<Showcase name={name}>
  <div>
    <ShowcaseTitle>{name}</ShowcaseTitle>
    <ShowcaseDescription>
      Hey!
      I'm a German <mark>senior full-stack developer living in Vienna</mark>.
      My professional experience is centered around <mark>web development in the sectors of banking and financial technologies</mark>.
      Below, you'll find details about my <a href="#experience" class="anchor-blue anchor-text">experience</a>, <a href="#education" class="anchor-blue anchor-text">education</a>, and <a href="#awards" class="anchor-blue anchor-text">awards</a>.
    </ShowcaseDescription>
    <ShowcaseDescription>
      As an <mark>Open Source enthusiast</mark>, I maintain a variety of projects with a focus on web development.
      My work includes <mark>websites, APIs, libraries, mobile apps, and CLIs</mark>.
    </ShowcaseDescription>
    <ShowcaseDescription>
      Beyond development, I enjoy <mark>cycling</mark>, <mark>hiking</mark>, and <mark>photography</mark>.
      A selection of my photos is available in my <a href="/photography" class="anchor-blue anchor-text">gallery</a>.
    </ShowcaseDescription>
  </div>
</Showcase>
