---
import InlineAnchor from '~/components/showcase/InlineAnchor.astro'
import Mark from '~/components/showcase/Mark.astro'
import Showcase from '~/components/showcase/Showcase.astro'
import ShowcaseDescription from '~/components/showcase/ShowcaseDescription.astro'
import ShowcaseTitle from '~/components/showcase/ShowcaseTitle.astro'

const name = 'About Me'
---

<Showcase name={name}>
  <div class="prose">
    <ShowcaseTitle>{name}</ShowcaseTitle>
    <ShowcaseDescription>
      Hey and moin!
      I'm <Mark>Jan, a German fullstack developer living in Vienna.</Mark>
      My professional experience is centered around <Mark>fullstack web development in the sectors of banking and financial technology.</Mark>
      Below, you'll find details about my <InlineAnchor to="#experience">experience</InlineAnchor>, <InlineAnchor to="#education">education</InlineAnchor>, and <InlineAnchor to="#awards">awards.</InlineAnchor>
    </ShowcaseDescription>
    <ShowcaseDescription>
      As an <Mark>Open Source enthusiast,</Mark> I maintain a variety of projects with a focus on web development.
      My work includes <Mark>websites, APIs, libraries, mobile apps, and CLIs.</Mark>
      Beyond development, I occasionally work on tasks related to <Mark>DevOps and SEO.</Mark>
    </ShowcaseDescription>
  </div>
</Showcase>
