---
import Mark from '~/components/showcase/Mark.astro'
import Showcase from '~/components/showcase/Showcase.astro'
import ShowcaseDescription from '~/components/showcase/ShowcaseDescription.astro'
import ShowcaseTitle from '~/components/showcase/ShowcaseTitle.astro'

const name = 'About Me'
---

<Showcase name={name}>
  <div class="prose dark:prose-invert">
    <ShowcaseTitle>{name}</ShowcaseTitle>
    <ShowcaseDescription>
      Hey, I'm a software engineer working on <Mark>
        websites, APIs, libraries, mobile apps, and CLIs
      </Mark>. Beyond development, I occasionally work on tasks related to <Mark
      >
        DevOps
      </Mark> and <Mark>SEO</Mark>.
    </ShowcaseDescription>
    <ShowcaseDescription>
      As an <Mark>Open Source enthusiast</Mark>, I maintain a variety of
      projects, mostly focused on web development.
    </ShowcaseDescription>
  </div>
</Showcase>
