---
import InlineAnchor from '~/components/showcase/InlineAnchor.astro'
import Mark from '~/components/showcase/Mark.astro'
import Showcase from '~/components/showcase/Showcase.astro'
import ShowcaseDescription from '~/components/showcase/ShowcaseDescription.astro'
import ShowcaseTitle from '~/components/showcase/ShowcaseTitle.astro'

const name = 'About Me'
---

<Showcase name={name}>
  <div>
    <ShowcaseTitle>{name}</ShowcaseTitle>
    <ShowcaseDescription>
      Hey!
      I'm a German <Mark class="-mr-1">senior full-stack developer living in Vienna</Mark>.
      My professional experience is centered around <Mark class="-mr-1">web development in the sectors of banking and financial technologies</Mark>.
      Below, you'll find details about my <InlineAnchor to="#experience">experience</InlineAnchor>, <InlineAnchor to="#education">education</InlineAnchor>, and <InlineAnchor to="#awards">awards</InlineAnchor>.
    </ShowcaseDescription>
    <ShowcaseDescription>
      As an <Mark class="-mr-1">Open Source enthusiast</Mark>, I maintain a variety of projects with a focus on web development.
      My work includes <Mark class="-mr-1">websites, APIs, libraries, mobile apps, and CLIs</Mark>.
    </ShowcaseDescription>
    <ShowcaseDescription>
      Beyond development, I enjoy <Mark class="-mr-1">cycling</Mark>, <Mark class="-mr-1">hiking</Mark>, and <Mark class="-mr-1">photography</Mark>.
      A selection of my photos is available in my <InlineAnchor to="/photography">gallery</InlineAnchor>.
    </ShowcaseDescription>
  </div>
</Showcase>
