---
import Showcase from '~/components/showcase/Showcase.astro'
import ShowcaseDescription from '~/components/showcase/ShowcaseDescription.astro'
import ShowcaseTitle from '~/components/showcase/ShowcaseTitle.astro'
---

<Showcase>
  <div class="prose dark:prose-invert">
    <ShowcaseTitle>About Me</ShowcaseTitle>
    <ShowcaseDescription>TODO</ShowcaseDescription>
  </div>
</Showcase>
