---
import Mark from '~/components/showcase/Mark.astro'
import Showcase from '~/components/showcase/Showcase.astro'
import ShowcaseDescription from '~/components/showcase/ShowcaseDescription.astro'
import ShowcaseTitle from '~/components/showcase/ShowcaseTitle.astro'

const name = 'CM2ML'

const { default: logo } = await import(`~/assets/projects/CM2ML.svg?raw`)
---

<Showcase name={name} link="/external/cm2ml" class="relative [--logo-size:32rem]">
  <div class="absolute -left-[calc(var(--logo-size)/2)] will-change-transform -bottom-[calc(var(--logo-size)/2)] size-(--logo-size) drop-shadow-2xl drop-shadow-neutral-900 dark:drop-shadow-neural-50">
    <div class="dark:invert">
      <Fragment set:html={logo} />
    </div>
  </div>
  <div class="mb-[calc(var(--logo-size)/2-4rem)]">
    <ShowcaseTitle>{name}</ShowcaseTitle>
    <ShowcaseDescription>
      A generic, portable, and extensible <Mark>framework for encoding the structure of conceptual models</Mark> and the result of
      my <Mark class="-mr-1">master thesis</Mark>.
    </ShowcaseDescription>
  </div>
</Showcase>
