---
import { Picture } from '@astrojs/image/components'

import Mark from '~/components/showcase/Mark.astro'
import Showcase from '~/components/showcase/Showcase.astro'
import ShowcaseDescription from '~/components/showcase/ShowcaseDescription.astro'
import ShowcaseTitle from '~/components/showcase/ShowcaseTitle.astro'

const first = await import('~/assets/projects/formi-first.webp')
const second = await import('~/assets/projects/formi-second.webp')

const name = 'Formi'
---

<Showcase
  name={name}
  class="formi flex flex-col justify-between gap-4"
  link="https://formi.yeger.eu"
>
  <div class="prose">
    <ShowcaseTitle>{name}</ShowcaseTitle>
    <ShowcaseDescription>
      <Mark>First-order-logic model checking</Mark> with interactive graph visualization,
      real-time validation, and textual input.
    </ShowcaseDescription>
  </div>
  <div class="relative h-36 w-36 self-center 2xl:scale-[2]">
    <Picture
      src={first.default.src}
      alt="Formi Logo"
      quality={85}
      widths={[192, 384]}
      aspectRatio={1}
      sizes="(max-width: 1535px) 192px, 384px"
      loading="lazy"
      formats={['avif', 'webp']}
      class="absolute inset-0 -mt-4 -ml-4 translate-x-[1000%] drop-shadow-xl transition-transform duration-500"
    />
    <Picture
      src={second.default.src}
      alt="Formi Logo"
      quality={85}
      widths={[192, 384]}
      aspectRatio={1}
      sizes="(max-width: 1535px) 192px, 384px"
      loading="lazy"
      formats={['avif', 'webp']}
      class="absolute inset-0 mt-4 ml-4 translate-x-[1000%] drop-shadow-xl transition-transform duration-700"
    />
  </div>
</Showcase>

<script>
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (!entry.isIntersecting) {
          return
        }
        const images = [...entry.target.getElementsByTagName('img')]
        images.forEach((image) => image.classList.remove('translate-x-[1000%]'))
        observer.unobserve(entry.target)
      })
    },
    { threshold: 0.9 }
  )

  const formiContainers = [...document.getElementsByClassName('formi')]
  formiContainers.forEach((logo) => observer.observe(logo))
</script>
