---
import { Image } from 'astro:assets'

import Mark from '~/components/showcase/Mark.astro'
import Showcase from '~/components/showcase/Showcase.astro'
import ShowcaseDescription from '~/components/showcase/ShowcaseDescription.astro'
import ShowcaseTitle from '~/components/showcase/ShowcaseTitle.astro'

const first = await import('~/assets/projects/formi-first.webp')
const second = await import('~/assets/projects/formi-second.webp')

const name = 'Formi'
---

<Showcase
  name={name}
  class="formi flex flex-col justify-between gap-4"
  link="https://formi.yeger.eu"
>
  <div class="prose">
    <ShowcaseTitle>{name}</ShowcaseTitle>
    <ShowcaseDescription>
      <Mark>First-order-logic model checking</Mark> with interactive graph visualization,
      real-time validation, and textual input.
    </ShowcaseDescription>
  </div>
  <div class="relative size-36 self-center 2xl:scale-[2]">
    <Image
      src={first.default}
      alt="Formi Logo"
      quality={85}
      width={384}
      sizes="(max-width: 1535px) 192px, 384px"
      loading="lazy"
      class="absolute inset-0 -ml-4 -mt-4 drop-shadow-xl"
    />
    <Image
      src={second.default}
      alt="Formi Logo"
      quality={85}
      width={384}
      sizes="(max-width: 1535px) 192px, 384px"
      loading="lazy"
      class="absolute inset-0 ml-4 mt-4 drop-shadow-xl"
    />
  </div>
</Showcase>

<script>
const durations = ['duration-500', 'duration-700']
const animationClasses = ['translate-x-[1000%]']
const observer = new IntersectionObserver(
  (entries) => {
    entries.forEach((entry) => {
      const images = [...entry.target.getElementsByTagName('img')]
      if (!entry.isIntersecting) {
        images.forEach((image) => image.classList.add(...animationClasses))
        return
      }
      observer.unobserve(entry.target)
      images.forEach((image, index) => {
        image.classList.add('transition-transform', durations[index % 2])
        image.classList.remove(...animationClasses)
      })
    })
  },
  { threshold: 0.5 },
)

const formiContainers = [...document.getElementsByClassName('formi')]
formiContainers.forEach((logo) => observer.observe(logo))
</script>
