---
interface Props {
  to: string
  openInNew?: boolean
}

const { to, openInNew } = Astro.props
---

<a href={to} target={openInNew ? '_blank' : undefined} rel={openInNew ? 'noreferrer' : undefined} class="inline-block font-bold anchor-blue no-underline">
  <slot />
</a>
