---
import Showcase from '~/components/showcase/Showcase.astro'
import ShowcaseDescription from '~/components/showcase/ShowcaseDescription.astro'
import ShowcaseTitle from '~/components/showcase/ShowcaseTitle.astro'

const name = 'Noted'

const { default: logo } = await import(`~/assets/projects/Noted.svg?raw`)
---

<Showcase name={name} link="https://noted.janmueller.dev">
  <div>
    <ShowcaseTitle>{name} ✏️</ShowcaseTitle>
    <ShowcaseDescription>
      A PWA for <mark>markdown-based note-taking</mark> built with Nuxt.js.
    </ShowcaseDescription>
  </div>
  <div class="mx-auto size-32 translate-z-0" aria-hidden="true">
    <Fragment set:html={logo} />
  </div>
</Showcase>
