---
import Mark from '~/components/showcase/Mark.astro'
import Showcase from '~/components/showcase/Showcase.astro'
import ShowcaseDescription from '~/components/showcase/ShowcaseDescription.astro'
import ShowcaseTitle from '~/components/showcase/ShowcaseTitle.astro'

const name = 'Noted'

const { default: logo } = await import(`~/assets/projects/Noted.svg?raw`)
---

<Showcase name={name} link="https://noted.yeger.eu">
  <div class="prose dark:prose-invert relative">
    <ShowcaseTitle>{name} ✏️</ShowcaseTitle>
    <ShowcaseDescription>
      A PWA for <Mark>Markdown-based note-taking</Mark>, built with Nuxt.js.
    </ShowcaseDescription>
  </div>
  <div class="mx-auto h-32 w-32">
    <Fragment set:html={logo} />
  </div>
</Showcase>
