---
import { Picture } from '@astrojs/image/components'

interface Props {
  src: Promise<typeof import('*.png')> | Promise<typeof import('*.webp')>
  alt: string
  initial?: boolean
}

const { src, alt, initial = false } = Astro.props
---

<div
  class={`photo absolute inset-0 transition-opacity duration-1000 ${
    initial ? 'z-10' : 'opacity-0'
  }`}
>
  <Picture
    src={src}
    alt={alt}
    widths={[768]}
    sizes="768px"
    aspectRatio={1}
    quality={85}
    format={['avif', 'webp']}
    loading="lazy"
    class="m-0 h-full w-full object-cover"
  />
</div>
