---
import { Icon } from 'astro-icon'

interface Props {
  href: string
  label: string
}

const { href, label } = Astro.props
---

<div class="flex w-full justify-end">
  <a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    aria-label={label}
    class="z-20 block h-[2em] w-[2em] rounded-full border-2 border-current bg-white p-1 text-neutral-400 transition-all duration-500 hover:text-black hover:shadow-xl dark:text-neutral-400 hover:dark:text-white"
  >
    <Icon name="radix-icons:arrow-top-right" />
  </a>
</div>
