---
import { cn } from '~/components/ui/cn'

interface Props {
  class?: string
}

const props = Astro.props
---
<h2 class={cn('showcase-animate text-xl title md:text-2xl', props.class)}>
  <slot />
</h2>
