---
import { Icon } from 'astro-icon/components'

interface Props {
  href: string
  label: string
}

const { href, label } = Astro.props

const isLocal = href.startsWith('/')
---

<div class="flex w-full justify-end">
  <a
    href={href}
    target={isLocal ? '' : '_blank'}
    rel={isLocal ? undefined : 'noopener noreferrer'}
    aria-label={label}
    class="z-20 block size-[2em] rounded-full border-2 border-current bg-white dark:bg-transparent p-1 transition-all duration-500 text-lighter hover:text-strong focus-visible:text-strong hover:shadow-xl"
  >
    <Icon name="radix-icons:arrow-top-right" class="size-full" />
  </a>
</div>
