---
import ShowcaseLink from '@components/showcase/ShowcaseLink.astro'
import { cn } from '@components/ui/cn'

interface Props {
  name: string
  class?: string
  link?: string
}

const { name, class: extraClasses = '', link } = Astro.props
---

<div
  class={cn('showcase card group relative flex size-full flex-col justify-between gap-6 overflow-hidden p-6 select-text', extraClasses)}
  role="listitem"
  aria-label={`${name} showcase`}
>
  <slot />
  {link ? <ShowcaseLink href={link} label={name} /> : null}
</div>
