---
import { cn } from '@components/ui/cn'

interface Props {
  class?: string
}

const props = Astro.props
---

<p
  class={cn('mt-6 showcase-animate max-w-none text-pretty grow text-sm font-semibold leading-8 text-light md:text-base', props.class)}
>
  <slot />
</p>
