---
import ShowcaseLink from '~/components/showcase/ShowcaseLink.astro'

interface Props {
  name: string
  class?: string
  link?: string
}

const { name, class: extraClasses = '', link } = Astro.props
---

<div
  class={`card group relative flex h-full w-full flex-col justify-between gap-6 overflow-hidden p-6 ${extraClasses}`}
>
  <slot />
  {link ? <ShowcaseLink href={link} label={name} /> : null}
</div>
