---
import ShowcaseLink from '~/components/showcase/ShowcaseLink.astro'

interface Props {
  class?: string
  link?: string
}

const { class: extraClasses = '', link } = Astro.props
---

<div
  class={`card group relative flex h-full w-full flex-col justify-between overflow-hidden p-6 ${extraClasses}`}
>
  <slot />
  {link ? <ShowcaseLink href={link} /> : null}
</div>
