---
import About from '~/components/showcase/About.astro'
import Apollo from '~/components/showcase/Apollo.astro'
import CM2ML from '~/components/showcase/CM2ML.astro'
import ExperimentsShowcase from '~/components/showcase/ExperimentsShowcase.astro'
import Formi from '~/components/showcase/Formi.astro'
import Masonry from '~/components/showcase/Masonry.astro'
import Monorepo from '~/components/showcase/Monorepo.astro'
import Noted from '~/components/showcase/Noted.astro'
import PhotoShowcase from '~/components/showcase/PhotoShowcase.astro'
import Refunk from '~/components/showcase/Refunk.astro'
import ShowcaseAnimation from '~/components/showcase/ShowcaseAnimation.astro'
import TurboGraph from '~/components/showcase/TurboGraph.astro'
import WienerTime from '~/components/showcase/WienerTime.astro'
---

<section aria-label="Showcases" class="my-32 px-4">
  <div
    class="mx-auto grid max-w-3xl grid-flow-row grid-cols-1 gap-4 sm:grid-cols-2 md:max-w-5xl md:grid-cols-3 2xl:max-w-7xl 2xl:grid-cols-4"
    role="list"
  >
    <div class="md:col-span-2">
      <About />
    </div>
    <div class="md:row-span-2 2xl:col-span-2">
      <Formi />
    </div>
    <div>
      <PhotoShowcase />
    </div>
    <div class="md:col-span-2 md:col-start-2 2xl:col-span-1 2xl:col-start-2 2xl:row-start-2">
      <Masonry />
    </div>
    <div class="md:col-span-2 md:row-start-2 2xl:col-span-1 2xl:row-start-auto">
      <CM2ML />
    </div>
    <div class="2xl:col-span-2">
      <WienerTime />
    </div>
    <div>
      <Refunk />
    </div>
    <div>
      <Noted />
    </div>
    <div
      class="sm:col-span-2"
    >
      <Apollo />
    </div>
    <div>
      <Monorepo />
    </div>
    <div>
      <ExperimentsShowcase />
    </div>
    <div class="sm:col-span-2 2xl:col-span-3">
     <TurboGraph />
    </div>
  </div>
  <ShowcaseAnimation />
</section>
