---
import Showcase from '~/components/showcase/Showcase.astro'
import ShowcaseDescription from '~/components/showcase/ShowcaseDescription.astro'
import ShowcaseTitle from '~/components/showcase/ShowcaseTitle.astro'

const { default: innerHTML } = await import(
  `~/assets/projects/WienerLinien.svg?raw`
)
---

<Showcase link="https://wiener-time.vercel.app">
  <div class="flex flex-col gap-2 md:flex-row">
    <div class="prose dark:prose-invert">
      <ShowcaseTitle>WienerTime</ShowcaseTitle>
      <ShowcaseDescription>
        Real-time traffic data of Wiener Linien public transportation monitors.
      </ShowcaseDescription>
    </div>
    <div class="h-32 opacity-75 dark:!opacity-100 md:w-64">
      <Fragment set:html={innerHTML} />
    </div>
  </div>
</Showcase>

<script src="~/components/showcase/WienerTime"></script>
