---
import Showcase from '@components/showcase/Showcase.astro'
import ShowcaseDescription from '@components/showcase/ShowcaseDescription.astro'
import ShowcaseTitle from '@components/showcase/ShowcaseTitle.astro'

const name = 'WienerTime'

const { default: wienerLinien } = await import(
  `@assets/projects/WienerLinien.svg?raw`
)
---

<Showcase name={name} link="https://wiener-time.vercel.app">
  <div>
    <ShowcaseTitle>{name}</ShowcaseTitle>
    <ShowcaseDescription>
      A Next.js web app for <mark>real-time traffic data</mark> of Wiener Linien's
      public transportation monitors.
    </ShowcaseDescription>
  </div>
  <div aria-hidden="true" class="max-h-64 grow p-6 opacity-75 translate-z-0 dark:opacity-90 dark:brightness-125 sm:max-md:p-0">
    <Fragment set:html={wienerLinien} />
  </div>
</Showcase>

<script src="@components/showcase/WienerTime"></script>
