---
import Mark from '~/components/showcase/Mark.astro'
import Showcase from '~/components/showcase/Showcase.astro'
import ShowcaseDescription from '~/components/showcase/ShowcaseDescription.astro'
import ShowcaseTitle from '~/components/showcase/ShowcaseTitle.astro'

const name = 'WienerTime'

const { default: innerHTML } = await import(
  `~/assets/projects/WienerLinien.svg?raw`
)
---

<Showcase name={name} link="https://wiener-time.vercel.app">
  <div class="prose">
    <ShowcaseTitle>{name}</ShowcaseTitle>
    <ShowcaseDescription>
      A Next.js web app for <Mark>real-time traffic data</Mark> of Wiener Linien's
      public transportation monitors.
    </ShowcaseDescription>
  </div>
  <div class="max-h-64 grow p-6 opacity-75 sm:max-md:p-0">
    <Fragment set:html={innerHTML} />
  </div>
</Showcase>

<script src="~/components/showcase/WienerTime"></script>
