---
import { Icon } from 'astro-icon'
import IconList from './IconList.astro';
---

<IconList>
  <span slot="title">Frameworks & Libraries</span>
  <Icon name="logos:android-icon" />
  <Icon name="logos:angular-icon" />
  <Icon name="logos:d3" />
  <Icon name="logos:nuxt-icon" />
  <Icon name="logos:react"  />
  <Icon name="logos:spring-icon" />
  <Icon name="logos:vue" />
</IconList>
