---
import { Icon } from 'astro-icon'
import IconList from './IconList.astro';
---

<IconList>
  <span slot="title">Languages</span>
  <Icon name="logos:kotlin" />
  <Icon name="logos:java" />
  <Icon name="logos:haskell-icon" />
  <Icon name="logos:python" />
  <Icon name="logos:typescript-icon"  />
  <Icon name="logos:javascript" />
  <Icon name="vscode-icons:file-type-html" />
  <Icon name="vscode-icons:file-type-css" />
  <Icon name="logos:sass" />
</IconList>
