---
import { Icon } from 'astro-icon'

import IconList from './IconList.astro';
---

<IconList>
  <span slot="title">Tools & Databases</span>
  <Icon name="logos:docker-icon" />
  <Icon name="logos:git-icon" />
  <Icon name="logos:gradle" />
  <Icon name="vscode-icons:file-type-mongo" />
   <Icon name="logos:nginx"  />
  <Icon name="logos:nodejs-icon"  />
  <Icon name="logos:postgresql" />
  <Icon name="logos:vitejs" />
</IconList>
