---
import DateRange from '~/components/date/DateRange.astro'
import type { ExperienceRole } from '~/types'

interface Props {
  role: ExperienceRole
}

const { role } = Astro.props
---

<div class="font-medium text-black dark:text-white">
  {role.title}
</div>
{role.description ? <div>{role.description}</div> : null}
<div class="text-light">
  <DateRange startDate={role.startDate} endDate={role.endDate} />
</div>
