---
import CVList from '@components/cv/CVList.astro'
import ExperienceEntry from '@components/cv/experience/ExperienceEntry.astro'
import type { Experience } from '@utils/types'

const experience: Experience[] = [
  {
    id: 'senacor',
    name: 'Senacor Technologies AG',
    location: 'Vienna, Austria',
    href: 'https://senacor.com/',
    roles: [
      {
        title: 'Senior Software Engineer',
        startDate: '2025-10-01',
      },
      {
        title: 'Software Engineer',
        startDate: '2025-01-01',
        endDate: '2025-09-30',
      },
       {
        title: 'Software Engineer',
        description: 'Part-time',
        startDate: '2021-10-01',
        endDate: '2024-12-31',
      },
    ],
  },
  {
    id: 'yatta',
    name: 'Yatta Solutions GmbH',
    location: 'Kassel, Germany',
    href: 'https://website.yatta.de/en/start/',
    roles: [
      {
        title: 'Software Developer',
        description: 'Internship',
        startDate: '2020-11-01',
        endDate: '2020-12-31',
      },
    ],
  },
  {
    id: 'university-kassel',
    name: 'University of Kassel',
    location: 'Kassel, Germany',
    href: 'https://www.uni-kassel.de/uni/en/index.html',
    roles: [
      {
        title: 'Tutor',
        description: 'Research Group Programming Languages / Methodologies',
        startDate: '2019-05-01',
        endDate: '2019-07-31',
      },
      {
        title: 'Tutor',
        description: 'Theoretical Computer Science / Formal Methods',
        startDate: '2019-04-01',
        endDate: '2019-07-31',
      },
      {
        title: 'Tutor',
        description: 'Automative EE Systems and Fundamentals of Electrical Engineering',
        startDate: '2017-11-01',
        endDate: '2018-03-03',
      },
    ],
  },
  {
    id: 'manserv',
    name: 'Management Services Helwig Schmitt GmbH',
    location: 'Hofgeismar, Germany',
    href: 'https://www.manserv.com/',
    roles: [
      {
        title: 'Software Developer',
        description: 'Internship',
        startDate: '2015-07-13',
        endDate: '2015-07-31',
      },
    ],
  },
].sort((a, b) => b.roles.at(-1)!.startDate.localeCompare(a.roles.at(-1)!.startDate))
---

<CVList id="experience" title="Experience">
  <ol aria-label="Experience timeline" class="flex flex-col md:max-w-64 md:whitespace-nowrap gap-16 md:mx-auto text-pretty">
  {
    experience.map((entry) => (
      <li>
        <ExperienceEntry experience={entry} />
      </li>
    ))
  }
  </ol>
</CVList>
