---
import DateRange from '~/components/date/DateRange.astro'
import type { ExperienceRole } from '~/types'

interface Props {
  role: ExperienceRole
}

const { role } = Astro.props
---

<div class="font-medium text-black dark:text-white mb-1 text-lg">
  {role.title}
</div>
{role.description ? <div class="text-light text-sm mb-1">{role.description}</div> : null}
<div>
  <DateRange startDate={role.startDate} endDate={role.endDate} />
</div>
