---
import CVList from '~/components/cv/CVList.astro'
import ExperienceEntry from '~/components/cv/experience/ExperienceEntry.astro'
import type { Experience } from '~/types'

const experience: Experience[] = [
  {
    name: 'Senacor Technologies AG',
    href: 'https://senacor.com/',
    roles: [
      {
        title: 'Software Engineer',
        startDate: '2025-01-01',
      },
       {
        title: 'Software Engineer',
        description: 'Part-time',
        startDate: '2021-10-01',
        endDate: '2024-12-31',
      },
    ],
  },
  {
    name: 'Yatta Solutions GmbH',
    href: 'https://website.yatta.de/en/start/',
    roles: [
      {
        title: 'Software Engineer',
        description: 'Internship',
        startDate: '2020-11-01',
        endDate: '2020-12-31',
      },
    ],
  },
  {
    name: 'University of Kassel',
    roles: [
      {
        title: 'Tutor',
        description: 'Research Group Programming Languages / Methodologies',
        startDate: '2019-05-01',
        endDate: '2019-07-31',
      },
      {
        title: 'Tutor',
        description: 'Theoretical Computer Science / Formal Methods',
        startDate: '2019-04-01',
        endDate: '2019-07-31',
      },
      {
        title: 'Tutor',
        description: 'Automative EE Systems and Fundamentals of Electrical Engineering',
        startDate: '2017-11-01',
        endDate: '2018-03-03',
      },
    ],
  },
  {
    name: 'Management Services Helwig Schmitt GmbH',
    href: 'https://www.manserv.com/',
    roles: [
      {
        title: 'Software Engineer',
        description: 'Internship',
        startDate: '2015-07-13',
        endDate: '2015-07-31',
      },
    ],
  },
].sort((a, b) => b.roles.at(-1)!.startDate.localeCompare(a.roles.at(-1)!.startDate))
---

<CVList id="experience">
  <span slot="title">Experience</span>
  <ul class="flex flex-col gap-16">
  {
    experience.map((entry, index) => (
      <li>
        <ExperienceEntry experience={entry} />
      </li>
    ))
  }
  </ul>
</CVList>
