---
import type { Props as BaseHeadProps } from '~/components/BaseHead.astro'
import BaseHead from '~/components/BaseHead.astro'
import Footer from '~/components/Footer.astro'
import Header from '~/components/Header.astro'
import Main from '~/components/Main.astro'

export interface Props extends Partial<BaseHeadProps> {}

const { title, description, image } = Astro.props as Props
---

<!DOCTYPE html>
<html lang="en">
  <head class="max-w-full overflow-x-hidden">
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body class="max-w-full overflow-x-hidden bg-white text-black">
    <Header />
    <Main>
      <slot />
    </Main>
    <Footer />
  </body>
</html>
