---
import MainLayout from '~/layouts/MainLayout.astro'

export interface Props {
  content: { title?: string }
  headings: {
    depth: number
    slug: string
    text: string
  }[]
}

const {
  content: {
    title,
  },
} = Astro.props as Props
---

<MainLayout title={title}>
  <article class="container prose dark:prose-invert mx-auto px-4 py-8">
    {title && <h1>{title}</h1>}
    <slot />
  </article>
</MainLayout>
