---
import { cn } from '~/components/ui/cn'

// eslint-disable-next-line no-undef
interface Props extends astroHTML.JSX.ButtonHTMLAttributes {

}

const { class: className, ...props } = Astro.props
---

<button
  type="button"
  class={cn(
  'select-none rounded-sm border border-medium bg-base',
    'px-2 text-sm transition-colors disabled:cursor-default',
    'disabled:bg-disabled',
    'hover:bg-neutral-300 dark:hover:bg-neutral-700',
    'active:bg-neutral-200 dark:active:bg-neutral-800',
    'touch-manipulation focus-visible:focus-ring',
    className,
  )}
  {...props}>
  <slot />
</button>
