---
import { cn } from '~/components/ui/cn'

// eslint-disable-next-line no-undef
interface Props extends astroHTML.JSX.ButtonHTMLAttributes {

}

const { class: className, ...props } = Astro.props
---

<button type="button" class={cn('select-none rounded-sm border border-neutral-300 bg-neutral-50 px-2 text-sm transition-colors hover:bg-neutral-300 disabled:cursor-default disabled:bg-neutral-200 disabled:hover:bg-neutral-200', className)} {...props}>
  <slot />
</button>
