---
import { cn } from '~/components/ui/cn'

// eslint-disable-next-line no-undef
interface Props extends astroHTML.JSX.ButtonHTMLAttributes {

}

const { class: className, ...props } = Astro.props
---

<button
  type="button"
  class={cn(
  'select-none rounded-sm border border-blue-700 dark:border-blue-600 bg-blue-600 dark:bg-blue-500 text-white',
    'px-2 text-sm transition-colors disabled:cursor-default',
    'hover:bg-blue-500 dark:hover:bg-blue-400',
    'active:bg-blue-700 dark:active:bg-blue-600',
    'disabled:bg-disabled disabled:border-medium disabled:text-lighter dark:disabled:bg-disabled',
    'touch-manipulation focus-visible:focus-ring focus-visible:ring-white',
    className,
  )}
  {...props}>
  <slot />
</button>
