---
import Button from '~/components/ui/Button.astro'
import { cn } from '~/components/ui/cn'

export type Type = 'safe' | 'danger'

// eslint-disable-next-line no-undef
interface Props extends Omit<astroHTML.JSX.ButtonHTMLAttributes, 'type'> {
  compact?: boolean
  type?: Type
}

const { class: className, compact, type = 'safe', ...props } = Astro.props

const classes: Record<Type, string> = {
  safe: 'bg-green-500 dark:bg-green-600 text-white border-green-600 dark:border-green-500 hover:bg-green-400 dark:hover:bg-green-500 active:bg-green-600 dark:active:bg-green-700 disabled:bg-green-300 disabled:dark:bg-green-800 disabled:border-green-400 disabled:dark:border-green-700 disabled:cursor-not-allowed disabled:opacity-60',
  danger: 'bg-red-500 dark:bg-red-600 text-white border-red-600 dark:border-red-500 hover:bg-red-400 dark:hover:bg-red-500 active:bg-red-600 dark:active:bg-red-700 disabled:bg-red-300 disabled:dark:bg-red-800 disabled:border-red-400 disabled:dark:border-red-700 disabled:cursor-not-allowed disabled:opacity-60',
}
---

<Button class={cn('rounded-sm px-1 text-sm transition-colors select-none focus-visible:ring-black dark:focus-visible:ring-white', compact && '-mr-1', classes[type], className)} {...props}>
  <slot />
</Button>
